.index54-chon-nv-thuong-phat-child {
  position: absolute;
  height: 11.33%;
  width: 6.74%;
  top: 2.34%;
  right: 35.56%;
  bottom: 86.33%;
  left: 57.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index54-chon-nv-thuong-phat-item {
  position: absolute;
  top: 847px;
  left: 711.52px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.thng-2000004 {
  position: absolute;
  top: 852.39px;
  left: 724.1px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index54-chon-nv-thuong-phat-inner {
  position: absolute;
  top: 847px;
  left: 364px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.ng-trc-5000004 {
  position: absolute;
  top: 854.19px;
  left: 372.99px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index54-chon-nv-thuong-phat-child1 {
  position: absolute;
  top: 847px;
  left: 1122px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--color-red);
  box-sizing: border-box;
  width: 278px;
  height: 47px;
}
.tng15 {
  position: absolute;
  top: 855px;
  left: 1109px;
  font-size: 25.16px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.vector-icon176 {
  position: absolute;
  height: 3.12%;
  width: 1.25%;
  top: 83.42%;
  right: 19.81%;
  bottom: 13.46%;
  left: 78.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-box-outline-blank-icon10,
.check-box-outline-blank-icon9 {
  position: absolute;
  top: 849px;
  left: 370px;
  width: 43.14px;
  height: 43.14px;
}
.check-box-outline-blank-icon10 {
  top: 848.8px;
  left: 724.1px;
}
.bn-quyn-47k2110522 {
  position: absolute;
  top: 981px;
  left: 578px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index54-chon-nv-thuong-phat-child2 {
  position: absolute;
  top: 251px;
  left: 999px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu12 {
  position: absolute;
  top: 251px;
  left: 977px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index54-chon-nv-thuong-phat-child3 {
  position: absolute;
  top: 254px;
  left: 357px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon177 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 25.68%;
  right: 39.31%;
  bottom: 71.97%;
  left: 56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 69px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 187px;
  height: 66px;
}
.vn-quang10 {
  position: absolute;
  top: 17px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 33px;
}
.rectangle-parent62 {
  position: absolute;
  top: 334px;
  left: 698px;
  width: 325px;
  height: 66px;
  font-size: var(--font-size-5xl);
}
.group-child67 {
  position: absolute;
  top: 0;
  left: 65px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 66px;
}
.l-phng10 {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 33px;
}
.rectangle-parent63 {
  position: absolute;
  top: 333px;
  left: 935px;
  width: 320px;
  height: 66px;
  font-size: var(--font-size-5xl);
}
.div256,
.qun-l-thng4 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div256 {
  top: 268px;
  left: 448px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 333px;
  height: 10px;
}
.qun-l-thng4 {
  top: 143px;
  left: 553px;
  font-size: 43.82px;
  font-family: var(--font-calistoga);
  width: 621.68px;
  height: 104.07px;
}
.index54-chon-nv-thuong-phat-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.index54-chon-nv-thuong-phat-child5 {
  position: absolute;
  top: 159.5px;
  left: 5px;
  width: 289px;
  height: 1px;
}
.group-child68,
.index54-chon-nv-thuong-phat-child6 {
  position: absolute;
  top: 704.5px;
  left: 5px;
  width: 289px;
  height: 1px;
}
.group-child68 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.thng-tin-nhn16 {
  position: absolute;
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon178 {
  position: absolute;
  height: 42.87%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.38%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent64 {
  position: absolute;
  top: 177px;
  left: 14px;
  width: 281.84px;
  height: 80px;
  cursor: pointer;
  font-size: 21.21px;
}
.tng-hp32 {
  margin: 0;
}
.tng-hp-bng-container65 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container64 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon179 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent65 {
  position: absolute;
  top: 281px;
  left: 14px;
  width: 271px;
  height: 80px;
  cursor: pointer;
  font-size: 22.41px;
}
.tng-hp-bng-container66 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon180 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child71,
.rectangle-parent66 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent66 {
  top: 381px;
  left: 12px;
  cursor: pointer;
  font-size: 22.41px;
}
.group-child71 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.qun-l-thng-container32 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon181 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent67 {
  position: absolute;
  top: 488px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.xem-li-d20 {
  position: absolute;
  top: 17px;
  left: 71px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
}
.quick-reference-all-icon20 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
}
.rectangle-parent68 {
  position: absolute;
  top: 599px;
  left: 14px;
  width: 271px;
  height: 80px;
  cursor: pointer;
  font-size: 22.41px;
}
.vector-icon182,
.vector-icon183 {
  position: absolute;
  height: 3.61%;
  width: 3.21%;
  top: 77.05%;
  right: 95.05%;
  bottom: 19.34%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon183 {
  height: 4.3%;
  width: 3.06%;
  top: 70.7%;
  right: 95.35%;
  bottom: 25%;
  left: 1.6%;
}
.ci-t16,
.tr-gip16 {
  position: absolute;
  top: 721px;
  left: 34px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t16 {
  top: 787px;
  left: 28px;
}
.ng-xut16,
.vector-icon184 {
  position: absolute;
  cursor: pointer;
}
.ng-xut16 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon184 {
  height: 80.56%;
  width: 19.63%;
  top: 9.52%;
  right: 80.37%;
  bottom: 9.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-parent11 {
  position: absolute;
  top: 852px;
  left: 25px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.group-child73 {
  position: absolute;
  top: 0;
  left: 68px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 199px;
  height: 67px;
  cursor: pointer;
}
.qunh-nh10,
.rectangle-parent69 {
  position: absolute;
  width: 336px;
  cursor: pointer;
}
.qunh-nh10 {
  top: 16px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}
.rectangle-parent69 {
  top: 334px;
  left: 461px;
  height: 67px;
  font-size: var(--font-size-5xl);
}
.div257,
.div258,
.div259,
.div260,
.div261,
.div262,
.div263 {
  position: absolute;
  top: 704.79px;
  left: 1100px;
  font-family: var(--font-trispace);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 319.49px;
  height: 60.24px;
}
.div258,
.div259,
.div260,
.div261,
.div262,
.div263 {
  top: 548.81px;
  left: 833px;
  width: 322.71px;
}
.div259,
.div260,
.div261,
.div262,
.div263 {
  top: 632.72px;
  left: 834px;
  width: 321.64px;
  height: 61.32px;
}
.div260,
.div261,
.div262,
.div263 {
  top: 704.79px;
  left: 833px;
  width: 322.71px;
  height: 60.24px;
}
.div261,
.div262,
.div263 {
  top: 545.59px;
  left: 1100px;
  width: 318.41px;
  height: 61.32px;
}
.div262,
.div263 {
  top: 631.64px;
  height: 59.16px;
}
.div263 {
  top: 711.25px;
  left: 595.17px;
  width: 287.21px;
  height: 47.33px;
}
.index54-chon-nv-thuong-phat-child7 {
  position: absolute;
  top: 453.08px;
  left: 383.26px;
  background-color: var(--color-gray-200);
  width: 219.44px;
  height: 80.68px;
}
.index54-chon-nv-thuong-phat-child11,
.index54-chon-nv-thuong-phat-child8,
.index54-chon-nv-thuong-phat-child9 {
  position: absolute;
  top: 453.08px;
  left: 603.78px;
  background-color: var(--color-silver-100);
  width: 263.55px;
  height: 80.68px;
}
.index54-chon-nv-thuong-phat-child11,
.index54-chon-nv-thuong-phat-child9 {
  left: 868.4px;
  width: 259.25px;
}
.index54-chon-nv-thuong-phat-child11 {
  left: 1128.72px;
  width: 260.32px;
}
.div264,
.div265 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61.32px;
}
.div264 {
  top: 545.59px;
  left: 427.36px;
  font-family: var(--font-trispace);
  width: 129.09px;
}
.div265 {
  top: 546.66px;
  left: 573.66px;
  width: 323.79px;
}
.div265,
.div266,
.div267 {
  font-family: var(--font-trispace);
}
.div266 {
  position: absolute;
  top: 631.64px;
  left: 573.66px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322.71px;
  height: 60.24px;
}
.div267 {
  top: 632.72px;
  left: 427.36px;
  width: 129.09px;
  height: 61.32px;
}
.div267,
.div268,
.ngy8,
.ph-cp4,
.pht4,
.s-gi-lm16 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div268 {
  top: 712.32px;
  left: 435.97px;
  font-family: var(--font-trispace);
  width: 107.57px;
  height: 43.03px;
}
.ngy8,
.ph-cp4,
.pht4,
.s-gi-lm16 {
  font-family: var(--font-aldrich);
}
.ngy8 {
  top: 481.04px;
  left: 337px;
  font-size: 29.6px;
  color: var(--color-white);
  width: 305.5px;
  height: 23.67px;
}
.ph-cp4,
.pht4,
.s-gi-lm16 {
  top: 479.97px;
  left: 566.13px;
  font-size: 33.46px;
  width: 345.3px;
  height: 25.82px;
}
.ph-cp4,
.pht4 {
  top: 482.12px;
  left: 822px;
  width: 346.38px;
}
.ph-cp4 {
  top: 485.35px;
  left: 1094px;
  font-size: 32.03px;
  width: 330.24px;
  height: 24.74px;
}
.index54-chon-nv-thuong-phat-child12,
.index54-chon-nv-thuong-phat-child13,
.index54-chon-nv-thuong-phat-child14 {
  position: absolute;
  top: 452px;
  left: 382.18px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 221.6px;
  height: 341px;
}
.index54-chon-nv-thuong-phat-child13,
.index54-chon-nv-thuong-phat-child14 {
  left: 867.32px;
  width: 261.4px;
}
.index54-chon-nv-thuong-phat-child14 {
  left: 1127.65px;
}
.index54-chon-nv-thuong-phat-child15,
.index54-chon-nv-thuong-phat-child16,
.index54-chon-nv-thuong-phat-child17 {
  position: absolute;
  top: 452px;
  left: 602.7px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 265.7px;
  height: 341px;
}
.index54-chon-nv-thuong-phat-child16,
.index54-chon-nv-thuong-phat-child17 {
  top: 533.75px;
  left: 382.18px;
  width: 1006.86px;
  height: 89.28px;
}
.index54-chon-nv-thuong-phat-child17 {
  top: 621.96px;
}
.vector-icon185,
.vector-icon186 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon185 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 9.08%;
  right: 95.28%;
  bottom: 86.62%;
  left: 1.67%;
}
.vector-icon186 {
  height: 87.99%;
  width: 21.55%;
  top: 0;
  right: 78.45%;
  bottom: 12.01%;
  left: 0;
}
.trang-ch16,
.vector-icon186,
.vector-parent11 {
  position: absolute;
  cursor: pointer;
}
.trang-ch16 {
  top: 9px;
  left: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 37px;
}
.vector-parent11 {
  height: 4.49%;
  width: 16.11%;
  top: 2.34%;
  right: 82.57%;
  bottom: 93.16%;
  left: 1.32%;
  font-size: 25.85px;
}
.bch-h16 {
  position: absolute;
  top: 96px;
  left: 8px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.index54-chon-nv-thuong-phat {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-4xl-4);
  color: var(--light-palette-black);
  font-family: var(--font-inter);
}
