.index64-bang-luong-thang-1-child {
  position: absolute;
  top: 788px;
  left: 1008px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 400px;
  height: 50px;
}
.lp-bng-lng3 {
  position: absolute;
  top: 803px;
  left: 1017px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 388px;
  height: 20px;
}
.vector-icon100 {
  position: absolute;
  height: 13.57%;
  width: 11.81%;
  top: 4.98%;
  right: 35.47%;
  bottom: 81.45%;
  left: 52.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bn-quyn-47k2110514 {
  position: absolute;
  top: 966px;
  left: 618px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index64-bang-luong-thang-1-item {
  position: absolute;
  top: 299px;
  left: 1030px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu6 {
  position: absolute;
  top: 299px;
  left: 1013px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index64-bang-luong-thang-1-inner {
  position: absolute;
  top: 302px;
  left: 388px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon101 {
  position: absolute;
  height: 2.34%;
  width: 1.62%;
  top: 30.37%;
  right: 39.06%;
  bottom: 67.29%;
  left: 58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div153,
.tng-hp-bng3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div153 {
  top: 318px;
  left: 493px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  width: 333px;
  height: 11px;
}
.tng-hp-bng3 {
  top: 188px;
  left: 497px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-calistoga);
  width: 681px;
  height: 114px;
}
.index64-bang-luong-thang-1-child1,
.vector-icon102 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon102 {
  height: 4.3%;
  width: 2.96%;
  top: 9.47%;
  right: 95.76%;
  bottom: 86.23%;
  left: 1.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index64-bang-luong-thang-1-child2,
.index64-bang-luong-thang-1-child3 {
  position: absolute;
  top: 166.5px;
  left: 0;
  width: 289px;
  height: 1px;
}
.index64-bang-luong-thang-1-child3 {
  top: 711.5px;
}
.group-child40 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.group-child40,
.thng-tin-nhn9,
.vector-icon103 {
  position: absolute;
  cursor: pointer;
}
.thng-tin-nhn9 {
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon103 {
  height: 42.88%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.37%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent39 {
  position: absolute;
  top: 184px;
  left: 8px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
  font-family: var(--font-inter);
}
.tng-hp18 {
  margin: 0;
}
.tng-hp-bng-container37 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container36 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon104 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child42,
.rectangle-parent40 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent40 {
  top: 288px;
  left: 8px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.group-child42 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.tng-hp-bng-container38 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon105 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent41 {
  position: absolute;
  top: 388px;
  left: 6px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.qun-l-thng-container18 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon106 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent42 {
  position: absolute;
  top: 495px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon107 {
  position: absolute;
  height: 2.73%;
  width: 2.36%;
  top: 79.1%;
  right: 96.5%;
  bottom: 18.16%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xem-li-d12 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon12 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent43 {
  position: absolute;
  top: 606px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon108 {
  position: absolute;
  height: 4.3%;
  width: 2.96%;
  top: 71.97%;
  right: 95.89%;
  bottom: 23.73%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ci-t9,
.tr-gip9 {
  position: absolute;
  top: 734px;
  left: 28px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t9 {
  top: 800px;
  left: 22px;
}
.ng-xut9,
.vector-icon109 {
  position: absolute;
  cursor: pointer;
}
.ng-xut9 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon109 {
  height: 69.05%;
  width: 16.82%;
  top: 9.52%;
  right: 83.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bch-h9,
.ng-xut-parent7 {
  position: absolute;
  font-family: var(--font-inter);
}
.ng-xut-parent7 {
  top: 865px;
  left: 19px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h9 {
  top: 102px;
  left: 3px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon110 {
  height: 93.72%;
  width: 20.83%;
  top: 0;
  right: 79.17%;
  bottom: 6.28%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch9,
.vector-icon110,
.vector-parent7 {
  position: absolute;
  cursor: pointer;
}
.trang-ch9 {
  top: 4px;
  left: 31px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent7 {
  height: 4.22%;
  width: 16.16%;
  top: 2.73%;
  right: 82.9%;
  bottom: 93.05%;
  left: 0.94%;
  font-size: 27.99px;
  font-family: var(--font-inter);
}
.index64-bang-luong-thang-1-child4 {
  position: absolute;
  top: 395px;
  left: 366px;
  background-color: var(--color-gray-200);
  width: 158px;
  height: 75px;
}
.index64-bang-luong-thang-1-child5,
.index64-bang-luong-thang-1-child6 {
  position: absolute;
  top: 395px;
  left: 525px;
  background-color: var(--color-silver-100);
  width: 191px;
  height: 75px;
}
.index64-bang-luong-thang-1-child6 {
  left: 717px;
  width: 188px;
}
.index64-bang-luong-thang-1-child10,
.index64-bang-luong-thang-1-child8,
.index64-bang-luong-thang-1-child9 {
  position: absolute;
  top: 395px;
  left: 906px;
  background-color: var(--color-silver-100);
  width: 188px;
  height: 75px;
}
.index64-bang-luong-thang-1-child10,
.index64-bang-luong-thang-1-child9 {
  left: 1095px;
  width: 172px;
}
.index64-bang-luong-thang-1-child10 {
  left: 1268px;
  width: 169px;
}
.m-nhn-vin-container12,
.tn-nhn-vin-container12,
.tng-s-gi-container12 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.m-nhn-vin-container12 {
  top: 421px;
  left: 332px;
  font-size: 27.52px;
  color: var(--color-white);
  width: 221px;
  height: 22px;
}
.tn-nhn-vin-container12,
.tng-s-gi-container12 {
  top: 420px;
  left: 498px;
  font-size: 31.11px;
  width: 250px;
  height: 24px;
}
.tng-s-gi-container12 {
  top: 422px;
  left: 681px;
  width: 251px;
}
.lng-chnh-thc-container12,
.mc-lng-c-container6,
.tng-thng-pht-container6 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
  width: 239px;
  height: 23px;
}
.mc-lng-c-container6 {
  top: 425px;
  left: 881px;
  font-size: 29.78px;
}
.lng-chnh-thc-container12,
.tng-thng-pht-container6 {
  top: 421px;
  left: 1061px;
  font-size: var(--font-size-7xl);
}
.lng-chnh-thc-container12 {
  left: 1232px;
}
.index64-bang-luong-thang-1-child11 {
  position: absolute;
  top: 394px;
  left: 365px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 160px;
  height: 317px;
}
.index64-bang-luong-thang-1-child12,
.index64-bang-luong-thang-1-child13,
.index64-bang-luong-thang-1-child14 {
  position: absolute;
  top: 394px;
  left: 716px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 190px;
  height: 317px;
}
.index64-bang-luong-thang-1-child13,
.index64-bang-luong-thang-1-child14 {
  left: 1094px;
  width: 174px;
}
.index64-bang-luong-thang-1-child14 {
  left: 905px;
  width: 532px;
}
.index64-bang-luong-thang-1-child15,
.index64-bang-luong-thang-1-child16,
.index64-bang-luong-thang-1-child17 {
  position: absolute;
  top: 394px;
  left: 524px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 193px;
  height: 317px;
}
.index64-bang-luong-thang-1-child16,
.index64-bang-luong-thang-1-child17 {
  top: 470px;
  left: 365px;
  width: 1072px;
  height: 83px;
}
.index64-bang-luong-thang-1-child17 {
  top: 552px;
}
.div154,
.div155,
.l-phng3,
.lp,
.qn,
.qunh-nh3,
.vn-quang3,
.vq {
  position: absolute;
  top: 477px;
  left: 406px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 79px;
}
.div154,
.div155,
.l-phng3,
.lp,
.qunh-nh3,
.vn-quang3,
.vq {
  top: 555px;
}
.div154,
.div155,
.l-phng3,
.lp,
.qunh-nh3,
.vn-quang3 {
  top: 639px;
  height: 78px;
}
.div154,
.div155,
.l-phng3,
.qunh-nh3,
.vn-quang3 {
  top: 477px;
  left: 552px;
  width: 142px;
  height: 79px;
}
.div154,
.div155,
.l-phng3,
.vn-quang3 {
  top: 555px;
  left: 551px;
  width: 145px;
  height: 78px;
}
.div154,
.div155,
.l-phng3 {
  top: 639px;
  left: 546px;
  width: 155px;
  height: 79px;
}
.div154,
.div155 {
  top: 477px;
  left: 730px;
  width: 154px;
  height: 78px;
}
.div155 {
  top: 555px;
  left: 740px;
  width: 134px;
}
.div156,
.div157,
.div158,
.div159,
.div160,
.div161,
.div162,
.div163,
.div164,
.div165 {
  position: absolute;
  top: 627px;
  left: 742px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 102px;
}
.div157,
.div158,
.div159,
.div160,
.div161,
.div162,
.div163,
.div164,
.div165 {
  top: 477px;
  left: 941px;
  width: 119px;
  height: 78px;
}
.div158,
.div159,
.div160,
.div161,
.div162,
.div163,
.div164,
.div165 {
  top: 555px;
  height: 79px;
}
.div159,
.div160,
.div161,
.div162,
.div163,
.div164,
.div165 {
  top: 639px;
}
.div160,
.div161,
.div162,
.div163,
.div164,
.div165 {
  top: 477px;
  left: 1122px;
  width: 118px;
  height: 78px;
}
.div161,
.div162,
.div163,
.div164,
.div165 {
  top: 555px;
}
.div162,
.div163,
.div164,
.div165 {
  top: 639px;
  left: 1121px;
  width: 119px;
  height: 79px;
}
.div163,
.div164,
.div165 {
  top: 491px;
  left: 1242px;
  width: 219px;
  height: 51px;
}
.div164,
.div165 {
  top: 568px;
  height: 52px;
}
.div165 {
  top: 633px;
  left: 1277px;
  width: 149px;
  height: 91px;
}
.index64-bang-luong-thang-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--light-palette-black);
  font-family: var(--font-trispace);
}
