.index6-bang-luong-child {
  position: absolute;
  top: 788px;
  left: 1008px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 400px;
  height: 50px;
}
.lp-bng-lng4 {
  position: absolute;
  top: 803px;
  left: 1017px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 388px;
  height: 20px;
}
.vector-icon208 {
  position: absolute;
  height: 13.57%;
  width: 11.81%;
  top: 4.98%;
  right: 35.47%;
  bottom: 81.45%;
  left: 52.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bn-quyn-47k2110525 {
  position: absolute;
  top: 966px;
  left: 618px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index6-bang-luong-item {
  position: absolute;
  top: 299px;
  left: 1030px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu14 {
  position: absolute;
  top: 299px;
  left: 1013px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index6-bang-luong-inner {
  position: absolute;
  top: 302px;
  left: 388px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
  cursor: pointer;
}
.vector-icon209 {
  position: absolute;
  height: 2.34%;
  width: 1.62%;
  top: 30.37%;
  right: 39.06%;
  bottom: 67.29%;
  left: 58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.ddmmyyyy-ddmmyyyy16,
.tng-hp-bng9 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ddmmyyyy-ddmmyyyy16 {
  top: 319px;
  left: 476px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  width: 333px;
  height: 11px;
  cursor: pointer;
}
.tng-hp-bng9 {
  top: 188px;
  left: 497px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-calistoga);
  width: 681px;
  height: 114px;
}
.index6-bang-luong-child1,
.vector-icon210 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon210 {
  height: 4.3%;
  width: 2.96%;
  top: 9.47%;
  right: 95.76%;
  bottom: 86.23%;
  left: 1.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index6-bang-luong-child2,
.index6-bang-luong-child3 {
  position: absolute;
  top: 166.5px;
  left: 0;
  width: 289px;
  height: 1px;
}
.index6-bang-luong-child3 {
  top: 711.5px;
}
.group-child87,
.thng-tin-nhn19 {
  position: absolute;
  cursor: pointer;
}
.group-child87 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.thng-tin-nhn19 {
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon211 {
  position: absolute;
  height: 42.88%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.37%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent83 {
  position: absolute;
  top: 184px;
  left: 8px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
  font-family: var(--font-inter);
}
.tng-hp38 {
  margin: 0;
}
.tng-hp-bng-container77 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container76 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon212 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child89,
.rectangle-parent84 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent84 {
  top: 288px;
  left: 8px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.group-child89 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.tng-hp-bng-container78 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon213 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent85 {
  position: absolute;
  top: 388px;
  left: 6px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.qun-l-thng-container38 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon214 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent86 {
  position: absolute;
  top: 495px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon215 {
  position: absolute;
  height: 2.73%;
  width: 2.36%;
  top: 79.1%;
  right: 96.5%;
  bottom: 18.16%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xem-li-d24 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon24 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent87 {
  position: absolute;
  top: 606px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon216 {
  position: absolute;
  height: 4.3%;
  width: 2.96%;
  top: 71.97%;
  right: 95.89%;
  bottom: 23.73%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ci-t19,
.tr-gip19 {
  position: absolute;
  top: 734px;
  left: 28px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t19 {
  top: 800px;
  left: 22px;
}
.ng-xut19,
.vector-icon217 {
  position: absolute;
  cursor: pointer;
}
.ng-xut19 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon217 {
  height: 69.05%;
  width: 16.82%;
  top: 9.52%;
  right: 83.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bch-h19,
.ng-xut-parent14 {
  position: absolute;
  font-family: var(--font-inter);
}
.ng-xut-parent14 {
  top: 865px;
  left: 19px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h19 {
  top: 102px;
  left: 3px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon218 {
  height: 93.72%;
  width: 20.83%;
  top: 0;
  right: 79.17%;
  bottom: 6.28%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch19,
.vector-icon218,
.vector-parent14 {
  position: absolute;
  cursor: pointer;
}
.trang-ch19 {
  top: 4px;
  left: 31px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent14 {
  height: 4.22%;
  width: 16.16%;
  top: 2.73%;
  right: 82.9%;
  bottom: 93.05%;
  left: 0.94%;
  font-size: 27.99px;
  font-family: var(--font-inter);
}
.div306,
.div307,
.div308 {
  position: absolute;
  top: 629px;
  left: 886px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
}
.div307,
.div308 {
  top: 484px;
  left: 701px;
  width: 234px;
}
.div308 {
  top: 562px;
  left: 703px;
  width: 233px;
  height: 57px;
}
.div309,
.div310,
.div311,
.div312,
.div313,
.div314,
.div315,
.div316,
.div317,
.div318 {
  position: absolute;
  top: 629px;
  left: 701px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 56px;
}
.div310,
.div311,
.div312,
.div313,
.div314,
.div315,
.div316,
.div317,
.div318 {
  top: 481px;
  left: 883px;
  width: 231px;
  height: 57px;
}
.div311,
.div312,
.div313,
.div314,
.div315,
.div316,
.div317,
.div318 {
  top: 561px;
  left: 884px;
  height: 55px;
}
.div312,
.div313,
.div314,
.div315,
.div316,
.div317,
.div318 {
  top: 629px;
  left: 1068px;
  width: 232px;
  height: 56px;
}
.div313,
.div314,
.div315,
.div316,
.div317,
.div318 {
  top: 481px;
  left: 1065px;
  width: 231px;
  height: 57px;
}
.div314,
.div315,
.div316,
.div317,
.div318 {
  top: 561px;
  left: 1066px;
  height: 55px;
}
.div315,
.div316,
.div317,
.div318 {
  top: 629px;
  left: 1238px;
  width: 232px;
  height: 56px;
}
.div316,
.div317,
.div318 {
  top: 481px;
  left: 1235px;
  width: 231px;
  height: 57px;
}
.div317,
.div318 {
  top: 561px;
  left: 1236px;
  height: 55px;
}
.div318 {
  top: 635px;
  left: 519px;
  width: 208px;
  height: 44px;
}
.index6-bang-luong-child4,
.index6-bang-luong-child5 {
  position: absolute;
  top: 395px;
  left: 366px;
  background-color: var(--color-gray-200);
  width: 158px;
  height: 75px;
}
.index6-bang-luong-child5 {
  left: 525px;
  background-color: var(--color-silver-100);
  width: 191px;
}
.index6-bang-luong-child10,
.index6-bang-luong-child6,
.index6-bang-luong-child8,
.index6-bang-luong-child9 {
  position: absolute;
  top: 395px;
  left: 717px;
  background-color: var(--color-silver-100);
  width: 188px;
  height: 75px;
}
.index6-bang-luong-child10,
.index6-bang-luong-child8,
.index6-bang-luong-child9 {
  left: 906px;
}
.index6-bang-luong-child10,
.index6-bang-luong-child9 {
  left: 1095px;
  width: 172px;
}
.index6-bang-luong-child10 {
  left: 1268px;
  width: 169px;
}
.div319,
.div320,
.div321,
.div322,
.div323 {
  position: absolute;
  top: 481px;
  left: 398px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 57px;
}
.div320,
.div321,
.div322,
.div323 {
  top: 482px;
  left: 503px;
  width: 235px;
}
.div321,
.div322,
.div323 {
  top: 561px;
  width: 234px;
  height: 56px;
}
.div322,
.div323 {
  top: 562px;
  left: 398px;
  width: 93px;
  height: 57px;
}
.div323 {
  top: 636px;
  left: 404px;
  width: 77px;
  height: 40px;
}
.m-nhn-vin-container18,
.tn-nhn-vin-container18,
.tng-s-gi-container18 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.m-nhn-vin-container18 {
  top: 421px;
  left: 332px;
  font-size: 27.52px;
  color: var(--color-white);
  width: 221px;
  height: 22px;
}
.tn-nhn-vin-container18,
.tng-s-gi-container18 {
  top: 420px;
  left: 498px;
  font-size: 31.11px;
  width: 250px;
  height: 24px;
}
.tng-s-gi-container18 {
  top: 422px;
  left: 681px;
  width: 251px;
}
.lng-chnh-thc-container18,
.mc-lng-c-container8,
.tng-thng-pht-container8 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
  width: 239px;
  height: 23px;
}
.mc-lng-c-container8 {
  top: 425px;
  left: 881px;
  font-size: 29.78px;
}
.lng-chnh-thc-container18,
.tng-thng-pht-container8 {
  top: 421px;
  left: 1061px;
  font-size: var(--font-size-7xl);
}
.lng-chnh-thc-container18 {
  left: 1232px;
}
.index6-bang-luong-child11,
.index6-bang-luong-child12,
.index6-bang-luong-child13 {
  position: absolute;
  top: 394px;
  left: 365px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 160px;
  height: 317px;
}
.index6-bang-luong-child12,
.index6-bang-luong-child13 {
  left: 716px;
  width: 190px;
}
.index6-bang-luong-child13 {
  left: 1094px;
  width: 174px;
}
.index6-bang-luong-child14,
.index6-bang-luong-child15,
.index6-bang-luong-child16,
.index6-bang-luong-child17 {
  position: absolute;
  top: 394px;
  left: 905px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 532px;
  height: 317px;
}
.index6-bang-luong-child15,
.index6-bang-luong-child16,
.index6-bang-luong-child17 {
  left: 524px;
  width: 193px;
}
.index6-bang-luong-child16,
.index6-bang-luong-child17 {
  top: 470px;
  left: 365px;
  width: 1072px;
  height: 83px;
}
.index6-bang-luong-child17 {
  top: 552px;
}
.index6-bang-luong {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 21.75px;
  color: var(--light-palette-black);
  font-family: var(--font-trispace);
}
