.index63-chon-thoi-gian-xem-child {
  position: absolute;
  top: 788px;
  left: 1008px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 400px;
  height: 50px;
}
.lp-bng-lng {
  position: absolute;
  top: 803px;
  left: 1017px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 388px;
  height: 20px;
}
.vector-icon31 {
  position: absolute;
  height: 13.57%;
  width: 11.81%;
  top: 4.98%;
  right: 35.47%;
  bottom: 81.45%;
  left: 52.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bn-quyn-47k211055 {
  position: absolute;
  top: 966px;
  left: 618px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index63-chon-thoi-gian-xem-item {
  position: absolute;
  top: 299px;
  left: 1030px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu,
.tng-hp-bng {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ly-d-liu {
  top: 299px;
  left: 1013px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  width: 431px;
  height: 42px;
}
.tng-hp-bng {
  top: 188px;
  left: 497px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-calistoga);
  width: 681px;
  height: 114px;
}
.index63-chon-thoi-gian-xem-inner,
.vector-icon32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon32 {
  height: 4.3%;
  width: 2.96%;
  top: 9.47%;
  right: 95.76%;
  bottom: 86.23%;
  left: 1.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index63-chon-thoi-gian-xem-child1,
.index63-chon-thoi-gian-xem-child2 {
  position: absolute;
  top: 166.5px;
  left: 0;
  width: 289px;
  height: 1px;
}
.index63-chon-thoi-gian-xem-child2 {
  top: 711.5px;
}
.group-child10 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.group-child10,
.thng-tin-nhn3,
.vector-icon33 {
  position: absolute;
  cursor: pointer;
}
.thng-tin-nhn3 {
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon33 {
  height: 42.88%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.37%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent9 {
  position: absolute;
  top: 184px;
  left: 8px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
  font-family: var(--font-inter);
}
.tng-hp-bng-container13 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container12 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon34 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child12,
.rectangle-parent10 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent10 {
  top: 288px;
  left: 8px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.group-child12 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.tng-hp-bng-container14 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon35 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent11 {
  position: absolute;
  top: 388px;
  left: 6px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.qun-l-thng-container6 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon36 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent12 {
  position: absolute;
  top: 495px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon37 {
  position: absolute;
  height: 2.73%;
  width: 2.36%;
  top: 79.1%;
  right: 96.5%;
  bottom: 18.16%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xem-li-d6 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon6 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent13 {
  position: absolute;
  top: 606px;
  left: 8px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon38 {
  position: absolute;
  height: 4.3%;
  width: 2.96%;
  top: 71.97%;
  right: 95.89%;
  bottom: 23.73%;
  left: 1.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tr-gip3 {
  top: 734px;
  left: 28px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.ci-t3,
.ng-xut3,
.tr-gip3 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t3 {
  top: 800px;
  left: 22px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.ng-xut3 {
  top: 0;
  left: 23px;
}
.vector-icon39 {
  position: absolute;
  height: 69.05%;
  width: 16.82%;
  top: 9.52%;
  right: 83.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bch-h3,
.ng-xut-parent1 {
  position: absolute;
  font-family: var(--font-inter);
}
.ng-xut-parent1 {
  top: 865px;
  left: 19px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h3 {
  top: 102px;
  left: 3px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon40 {
  position: absolute;
  height: 93.72%;
  width: 20.83%;
  top: 0;
  right: 79.17%;
  bottom: 6.28%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch3 {
  position: absolute;
  top: 4px;
  left: 31px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent1 {
  position: absolute;
  height: 4.22%;
  width: 16.16%;
  top: 2.73%;
  right: 82.9%;
  bottom: 93.05%;
  left: 0.94%;
  cursor: pointer;
  font-size: 27.99px;
  font-family: var(--font-inter);
}
.div45,
.div46 {
  position: absolute;
  top: 629px;
  left: 886px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
}
.div46 {
  top: 484px;
  left: 701px;
  width: 234px;
}
.div47,
.div48,
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  position: absolute;
  top: 562px;
  left: 703px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 57px;
}
.div48,
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 629px;
  left: 701px;
  width: 234px;
  height: 56px;
}
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 481px;
  left: 883px;
  width: 231px;
  height: 57px;
}
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 561px;
  left: 884px;
  height: 55px;
}
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 629px;
  left: 1068px;
  width: 232px;
  height: 56px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 481px;
  left: 1065px;
  width: 231px;
  height: 57px;
}
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 561px;
  left: 1066px;
  height: 55px;
}
.div54,
.div55,
.div56,
.div57 {
  top: 629px;
  left: 1238px;
  width: 232px;
  height: 56px;
}
.div55,
.div56,
.div57 {
  top: 481px;
  left: 1235px;
  width: 231px;
  height: 57px;
}
.div56,
.div57 {
  top: 561px;
  left: 1236px;
  height: 55px;
}
.div57 {
  top: 635px;
  left: 519px;
  width: 208px;
  height: 44px;
}
.index63-chon-thoi-gian-xem-child3 {
  position: absolute;
  top: 395px;
  left: 366px;
  background-color: var(--color-gray-200);
  width: 158px;
  height: 75px;
}
.index63-chon-thoi-gian-xem-child4,
.index63-chon-thoi-gian-xem-child5 {
  position: absolute;
  top: 395px;
  left: 525px;
  background-color: var(--color-silver-100);
  width: 191px;
  height: 75px;
}
.index63-chon-thoi-gian-xem-child5 {
  left: 717px;
  width: 188px;
}
.index63-chon-thoi-gian-xem-child7,
.index63-chon-thoi-gian-xem-child8,
.index63-chon-thoi-gian-xem-child9 {
  position: absolute;
  top: 395px;
  left: 906px;
  background-color: var(--color-silver-100);
  width: 188px;
  height: 75px;
}
.index63-chon-thoi-gian-xem-child8,
.index63-chon-thoi-gian-xem-child9 {
  left: 1095px;
  width: 172px;
}
.index63-chon-thoi-gian-xem-child9 {
  left: 1268px;
  width: 169px;
}
.div58,
.div59,
.div60,
.div61,
.div62 {
  position: absolute;
  top: 481px;
  left: 398px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 57px;
}
.div59,
.div60,
.div61,
.div62 {
  top: 482px;
  left: 503px;
  width: 235px;
}
.div60,
.div61,
.div62 {
  top: 561px;
  width: 234px;
  height: 56px;
}
.div61,
.div62 {
  top: 562px;
  left: 398px;
  width: 93px;
  height: 57px;
}
.div62 {
  top: 636px;
  left: 404px;
  width: 77px;
  height: 40px;
}
.m-nhn-vin-container6,
.tn-nhn-vin-container6,
.tng-s-gi-container6 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.m-nhn-vin-container6 {
  top: 421px;
  left: 332px;
  font-size: 27.52px;
  color: var(--color-white);
  width: 221px;
  height: 22px;
}
.tn-nhn-vin-container6,
.tng-s-gi-container6 {
  top: 420px;
  left: 498px;
  font-size: 31.11px;
  width: 250px;
  height: 24px;
}
.tng-s-gi-container6 {
  top: 422px;
  left: 681px;
  width: 251px;
}
.mc-lng {
  margin: 0;
}
.lng-chnh-thc-container6,
.mc-lng-c-container,
.tng-thng-pht-container {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
  width: 239px;
  height: 23px;
}
.mc-lng-c-container {
  top: 425px;
  left: 881px;
  font-size: 29.78px;
}
.lng-chnh-thc-container6,
.tng-thng-pht-container {
  top: 421px;
  left: 1061px;
  font-size: var(--font-size-7xl);
}
.lng-chnh-thc-container6 {
  left: 1232px;
}
.index63-chon-thoi-gian-xem-child10 {
  position: absolute;
  top: 394px;
  left: 365px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 160px;
  height: 317px;
}
.index63-chon-thoi-gian-xem-child11,
.index63-chon-thoi-gian-xem-child12,
.index63-chon-thoi-gian-xem-child13 {
  position: absolute;
  top: 394px;
  left: 716px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 190px;
  height: 317px;
}
.index63-chon-thoi-gian-xem-child12,
.index63-chon-thoi-gian-xem-child13 {
  left: 1094px;
  width: 174px;
}
.index63-chon-thoi-gian-xem-child13 {
  left: 905px;
  width: 532px;
}
.index63-chon-thoi-gian-xem-child14,
.index63-chon-thoi-gian-xem-child15,
.index63-chon-thoi-gian-xem-child16 {
  position: absolute;
  top: 394px;
  left: 524px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 193px;
  height: 317px;
}
.index63-chon-thoi-gian-xem-child15,
.index63-chon-thoi-gian-xem-child16 {
  top: 470px;
  left: 365px;
  width: 1072px;
  height: 83px;
}
.index63-chon-thoi-gian-xem-child16 {
  top: 552px;
}
.index63-chon-thoi-gian-xem-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1593px;
  height: 1024px;
  cursor: pointer;
}
.index63-chon-thoi-gian-xem-child18 {
  position: absolute;
  top: 300px;
  left: 429px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon41 {
  position: absolute;
  height: 2.34%;
  width: 1.62%;
  top: 30.18%;
  right: 36.3%;
  bottom: 67.48%;
  left: 58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ddmmyyyy-ddmmyyyy3 {
  position: absolute;
  top: 317px;
  left: 517px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 11px;
}
.thng-1-20233 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  text-align: left;
}
.start-icon32 {
  position: relative;
  margin: 0 !important;
  width: 52px;
  height: 40px;
  z-index: 0;
}
.end-icon32,
.middle32,
.selected-icon32 {
  margin: 0 !important;
  width: 52px;
  height: 40px;
  display: none;
}
.middle32 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 26px);
  background-color: var(--color-lightgoldenrodyellow);
  z-index: 1;
}
.end-icon32,
.selected-icon32 {
  position: relative;
  z-index: 2;
}
.selected-icon32 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  z-index: 3;
}
.day470,
.day471 {
  position: relative;
}
.day471 {
  line-height: 22px;
  z-index: 4;
  position: absolute;
}
.day470 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.start-icon33 {
  position: relative;
  margin: 0 !important;
  display: none;
  z-index: 0;
}
.day480,
.middle33,
.start-icon33 {
  width: 52px;
  height: 40px;
}
.middle33 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 20px);
  left: calc(50% - 26px);
  background-color: var(--color-lightgoldenrodyellow);
  z-index: 1;
}
.day480 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--red-500);
}
.week44,
.week45 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.week44 {
  align-self: stretch;
  justify-content: flex-end;
}
.week45 {
  width: 364px;
  justify-content: flex-start;
}
.end-icon62 {
  position: relative;
  margin: 0 !important;
  width: 52px;
  height: 40px;
  z-index: 2;
}
.month-wrapper1,
.month8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.month8 {
  background-color: var(--color-white);
  height: 305px;
  padding: var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.month-wrapper1 {
  width: 390px;
  align-items: center;
}
.thng-2-20233 {
  font-size: var(--font-size-mid);
  font-weight: 100;
  color: var(--gray-900);
  text-align: left;
}
.day533,
.thng-2-20233 {
  position: relative;
  line-height: 22px;
}
.day532,
.day536,
.day542,
.day572 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day536,
.day542,
.day572 {
  color: var(--red-500);
}
.day542,
.day572 {
  color: var(--gray-900);
}
.day572 {
  color: var(--light-palette-black);
}
.frame-div,
.month9,
.week52 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.week52 {
  width: 364px;
  flex-direction: row;
  color: var(--gray-900);
}
.frame-div,
.month9 {
  background-color: var(--color-white);
  flex-direction: column;
}
.month9 {
  padding: var(--padding-base) var(--padding-smi);
  gap: var(--gap-5xs);
  color: var(--light-palette-black);
}
.frame-div {
  position: absolute;
  top: 46px;
  left: 1px;
  height: 748px;
  padding: var(--padding-base) 0 var(--padding-77xl);
  box-sizing: border-box;
}
.frame25 {
  color: var(--red-500);
}
.frame25,
.frame26 {
  border-bottom: 1px solid var(--gray-50);
  box-sizing: border-box;
  width: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: center;
}
.frame24,
.week54 {
  display: flex;
  justify-content: flex-start;
}
.week54 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs) 0;
  align-items: flex-start;
}
.frame24 {
  position: absolute;
  top: 0;
  left: 1px;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}
.end-date-selected1 {
  position: absolute;
  top: 356px;
  left: 489px;
  background-color: var(--color-white);
  width: 390px;
  height: 369px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--gray-900);
  font-family: var(--font-inter);
}
.index63-chon-thoi-gian-xem {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 21.75px;
  color: var(--light-palette-black);
  font-family: var(--font-trispace);
}
