.index51-chon-thoi-gian-thuo-child {
  position: absolute;
  height: 11.33%;
  width: 6.74%;
  top: 9.67%;
  right: 36.67%;
  bottom: 79%;
  left: 56.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index51-chon-thoi-gian-thuo-item {
  position: absolute;
  top: 847px;
  left: 711.52px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.thng-2000002 {
  position: absolute;
  top: 852.39px;
  left: 724.1px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index51-chon-thoi-gian-thuo-inner {
  position: absolute;
  top: 847px;
  left: 364px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.ng-trc-5000002 {
  position: absolute;
  top: 854.19px;
  left: 372.99px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index51-chon-thoi-gian-thuo-child1 {
  position: absolute;
  top: 847px;
  left: 1122px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--color-red);
  box-sizing: border-box;
  width: 278px;
  height: 47px;
}
.tng11 {
  position: absolute;
  top: 856.01px;
  left: 1045.02px;
  font-size: 25.16px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.vector-icon88 {
  position: absolute;
  height: 3.12%;
  width: 1.25%;
  top: 83.42%;
  right: 19.81%;
  bottom: 13.46%;
  left: 75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-box-outline-blank-icon5,
.check-box-outline-blank-icon6 {
  position: absolute;
  top: 849px;
  left: 370px;
  width: 43.14px;
  height: 43.14px;
}
.check-box-outline-blank-icon6 {
  top: 848.8px;
  left: 724.1px;
}
.bn-quyn-47k2110513 {
  position: absolute;
  top: 981px;
  left: 578px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index51-chon-thoi-gian-thuo-child2 {
  position: absolute;
  top: 319px;
  left: 1002px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu5 {
  position: absolute;
  top: 318px;
  left: 987px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index51-chon-thoi-gian-thuo-child3 {
  position: absolute;
  top: 322px;
  left: 360px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon89 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 32.32%;
  right: 39.1%;
  bottom: 65.33%;
  left: 59.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index51-chon-thoi-gian-thuo-child4 {
  position: absolute;
  top: 402px;
  left: 537px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 192px;
  height: 66px;
}
.qunh-nh2 {
  position: absolute;
  top: 418px;
  left: 472px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 33px;
}
.index51-chon-thoi-gian-thuo-child5 {
  position: absolute;
  top: 402px;
  left: 770px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 187px;
  height: 66px;
}
.vn-quang2 {
  position: absolute;
  top: 419px;
  left: 701px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 33px;
}
.index51-chon-thoi-gian-thuo-child6 {
  position: absolute;
  top: 401px;
  left: 1003px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 66px;
}
.l-phng2 {
  top: 416px;
  left: 938px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 320px;
  height: 33px;
}
.ddmmyyyy-ddmmyyyy10,
.l-phng2,
.qun-l-thng2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ddmmyyyy-ddmmyyyy10 {
  top: 339px;
  left: 454px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 333px;
  height: 11px;
}
.qun-l-thng2 {
  top: 218px;
  left: 537px;
  font-size: 43.82px;
  font-family: var(--font-calistoga);
  width: 621.68px;
  height: 104.07px;
}
.index51-chon-thoi-gian-thuo-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon90,
.vector-icon91 {
  position: absolute;
  height: 3.61%;
  width: 3.21%;
  top: 77.93%;
  right: 95.05%;
  bottom: 18.46%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon91 {
  height: 4.3%;
  width: 3.06%;
  top: 8.79%;
  right: 95.21%;
  bottom: 86.91%;
}
.index51-chon-thoi-gian-thuo-child8,
.index51-chon-thoi-gian-thuo-child9 {
  position: absolute;
  top: 159.5px;
  left: 5px;
  width: 289px;
  height: 1px;
}
.index51-chon-thoi-gian-thuo-child9 {
  top: 704.5px;
}
.group-child35 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.group-child35,
.thng-tin-nhn8,
.vector-icon92 {
  position: absolute;
  cursor: pointer;
}
.thng-tin-nhn8 {
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon92 {
  height: 42.87%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.38%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent34 {
  position: absolute;
  top: 177px;
  left: 14px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
}
.tng-hp16 {
  margin: 0;
}
.tng-hp-bng-container33 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container32 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon93 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent35 {
  position: absolute;
  top: 281px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.tng-hp-bng-container34 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon94 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child38,
.rectangle-parent36 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent36 {
  top: 381px;
  left: 12px;
  font-size: 22.41px;
}
.group-child38 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.qun-l-thng-container16 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon95 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent37 {
  position: absolute;
  top: 488px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.xem-li-d11 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon11 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent38 {
  position: absolute;
  top: 599px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon96 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 70.7%;
  right: 95.35%;
  bottom: 25%;
  left: 1.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tr-gip8 {
  top: 721px;
  left: 34px;
  font-size: var(--font-size-6xl);
}
.ci-t8,
.ng-xut8,
.tr-gip8 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t8 {
  top: 798px;
  left: 33px;
  font-size: var(--font-size-6xl);
}
.ng-xut8 {
  top: 0;
  left: 23px;
}
.vector-icon97 {
  position: absolute;
  height: 80.56%;
  width: 19.63%;
  top: 9.52%;
  right: 80.37%;
  bottom: 9.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-parent6 {
  position: absolute;
  top: 854px;
  left: 25px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h8 {
  position: absolute;
  top: 98px;
  left: 5px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon98 {
  position: absolute;
  height: 87.63%;
  width: 21.37%;
  top: 0;
  right: 78.63%;
  bottom: 12.37%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch8 {
  position: absolute;
  top: 7px;
  left: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent6 {
  position: absolute;
  height: 4.51%;
  width: 16.25%;
  top: 2.05%;
  right: 82.36%;
  bottom: 93.44%;
  left: 1.39%;
  cursor: pointer;
  font-size: 27.99px;
}
.div135,
.div136,
.div137,
.div138,
.div139,
.div140,
.div141 {
  position: absolute;
  top: 735px;
  left: 1081px;
  font-family: var(--font-trispace);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 56px;
}
.div136,
.div137,
.div138,
.div139,
.div140,
.div141 {
  top: 590px;
  left: 844px;
  width: 300px;
}
.div137,
.div138,
.div139,
.div140,
.div141 {
  top: 668px;
  left: 846px;
  width: 299px;
  height: 57px;
}
.div138,
.div139,
.div140,
.div141 {
  top: 735px;
  left: 844px;
  width: 300px;
  height: 56px;
}
.div139,
.div140,
.div141 {
  top: 587px;
  left: 1077px;
  width: 296px;
  height: 57px;
}
.div140,
.div141 {
  top: 667px;
  left: 1078px;
  height: 55px;
}
.div141 {
  top: 741px;
  left: 610px;
  width: 267px;
  height: 44px;
}
.index51-chon-thoi-gian-thuo-child10 {
  position: absolute;
  top: 501px;
  left: 413px;
  background-color: var(--color-gray-200);
  width: 204px;
  height: 75px;
}
.index51-chon-thoi-gian-thuo-child11,
.index51-chon-thoi-gian-thuo-child12,
.index51-chon-thoi-gian-thuo-child14 {
  position: absolute;
  top: 501px;
  left: 618px;
  background-color: var(--color-silver-100);
  width: 245px;
  height: 75px;
}
.index51-chon-thoi-gian-thuo-child12,
.index51-chon-thoi-gian-thuo-child14 {
  left: 864px;
  width: 241px;
}
.index51-chon-thoi-gian-thuo-child14 {
  left: 1106px;
  width: 242px;
}
.div142,
.div143 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
}
.div142 {
  top: 587px;
  left: 454px;
  font-family: var(--font-trispace);
  width: 120px;
}
.div143 {
  top: 588px;
  left: 590px;
  width: 301px;
}
.div143,
.div144,
.div145 {
  font-family: var(--font-trispace);
}
.div144 {
  position: absolute;
  top: 667px;
  left: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 56px;
}
.div145 {
  top: 668px;
  left: 454px;
  width: 120px;
  height: 57px;
}
.div145,
.div146,
.ngy2,
.ph-cp2,
.pht2,
.s-gi-lm8 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div146 {
  top: 742px;
  left: 462px;
  font-family: var(--font-trispace);
  width: 100px;
  height: 40px;
}
.ngy2,
.ph-cp2,
.pht2,
.s-gi-lm8 {
  font-family: var(--font-aldrich);
}
.ngy2 {
  top: 527px;
  left: 370px;
  font-size: 27.52px;
  color: var(--color-white);
  width: 284px;
  height: 22px;
}
.ph-cp2,
.pht2,
.s-gi-lm8 {
  top: 526px;
  left: 583px;
  font-size: 31.11px;
  width: 321px;
  height: 24px;
}
.ph-cp2,
.pht2 {
  top: 528px;
  left: 818px;
  width: 322px;
}
.ph-cp2 {
  top: 531px;
  left: 1074px;
  font-size: 29.78px;
  width: 307px;
  height: 23px;
}
.index51-chon-thoi-gian-thuo-child15,
.index51-chon-thoi-gian-thuo-child16,
.index51-chon-thoi-gian-thuo-child17 {
  position: absolute;
  top: 500px;
  left: 412px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 206px;
  height: 317px;
}
.index51-chon-thoi-gian-thuo-child16,
.index51-chon-thoi-gian-thuo-child17 {
  left: 863px;
  width: 243px;
}
.index51-chon-thoi-gian-thuo-child17 {
  left: 1105px;
}
.index51-chon-thoi-gian-thuo-child18,
.index51-chon-thoi-gian-thuo-child19,
.index51-chon-thoi-gian-thuo-child20 {
  position: absolute;
  top: 500px;
  left: 617px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 247px;
  height: 317px;
}
.index51-chon-thoi-gian-thuo-child19,
.index51-chon-thoi-gian-thuo-child20 {
  top: 576px;
  left: 412px;
  width: 936px;
  height: 83px;
}
.index51-chon-thoi-gian-thuo-child20 {
  top: 658px;
}
.index51-chon-thoi-gian-thuo-child21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1511px;
  height: 1024px;
}
.index51-chon-thoi-gian-thuo-child22 {
  position: absolute;
  top: 322px;
  left: 356px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 570px;
  height: 42px;
}
.vector-icon99 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 32.52%;
  right: 39.1%;
  bottom: 65.14%;
  left: 56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ddmmyyyy-ddmmyyyy11 {
  position: absolute;
  top: 341px;
  left: 451px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 11px;
}
.thng-1-20238 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  color: var(--gray-900);
  text-align: left;
}
.div148 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
}
.day1235,
.div148 {
  position: relative;
  line-height: 22px;
}
.day1234 {
  color: var(--gray-900);
}
.day1234,
.day1236,
.day1242 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day1242 {
  color: var(--red-500);
}
.week115,
.week116 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.week115 {
  align-self: stretch;
  justify-content: flex-end;
}
.week116 {
  width: 364px;
  justify-content: flex-start;
}
.div149,
.div150,
.div151 {
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.div149 {
  color: var(--red-500);
  width: 53px;
}
.div150,
.div151 {
  width: 51px;
}
.div151 {
  width: 50px;
}
.day1328,
.month-wrapper6,
.month21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.month21 {
  background-color: var(--color-white);
  padding: var(--padding-base) var(--padding-smi);
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.day1328,
.month-wrapper6 {
  width: 390px;
  align-items: center;
}
.day1328 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  justify-content: center;
  color: var(--light-palette-black);
}
.week123 {
  width: 364px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-900);
}
.div152 {
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 40px;
  flex-shrink: 0;
}
.week125 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--red-500);
}
.thng-3-20235 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  text-align: left;
}
.day1386,
.week127 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day1386 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--red-200);
}
.frame-parent5,
.month23,
.week128 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.week128 {
  flex-direction: row;
  color: var(--gray-500);
}
.frame-parent5,
.month23 {
  background-color: var(--color-white);
  flex-direction: column;
}
.month23 {
  padding: var(--padding-base) var(--padding-smi);
  gap: var(--gap-5xs);
  color: var(--gray-900);
}
.frame-parent5 {
  position: absolute;
  top: 46px;
  left: 0;
  padding: var(--padding-base) 0 var(--padding-77xl);
}
.frame65 {
  color: var(--red-500);
}
.frame65,
.frame66 {
  border-bottom: 1px solid var(--gray-50);
  box-sizing: border-box;
  width: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: center;
}
.frame64,
.week131 {
  display: flex;
  justify-content: flex-start;
}
.week131 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs) 0;
  align-items: flex-start;
}
.frame64 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  color: var(--gray-900);
}
.div147 {
  position: absolute;
  top: 382px;
  left: 424px;
  background-color: var(--color-white);
  width: 390px;
  height: 376px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
}
.index51-chon-thoi-gian-thuo {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 21.75px;
  color: var(--light-palette-black);
  font-family: var(--font-inter);
}
