.index53-chon-thoi-gian-thuo-child {
  position: absolute;
  height: 11.33%;
  width: 6.74%;
  top: 9.67%;
  right: 36.67%;
  bottom: 79%;
  left: 56.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index53-chon-thoi-gian-thuo-item {
  position: absolute;
  top: 847px;
  left: 711.52px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.thng-200000 {
  position: absolute;
  top: 852.39px;
  left: 724.1px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index53-chon-thoi-gian-thuo-inner {
  position: absolute;
  top: 847px;
  left: 364px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.ng-trc-500000 {
  position: absolute;
  top: 854.19px;
  left: 372.99px;
  font-size: 25.16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index53-chon-thoi-gian-thuo-child1 {
  position: absolute;
  top: 847px;
  left: 1122px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--color-red);
  box-sizing: border-box;
  width: 278px;
  height: 47px;
}
.tng9 {
  position: absolute;
  top: 856.01px;
  left: 1045.02px;
  font-size: 25.16px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.vector-icon64 {
  position: absolute;
  height: 3.12%;
  width: 1.25%;
  top: 83.42%;
  right: 19.81%;
  bottom: 13.46%;
  left: 75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-box-outline-blank-icon1,
.check-box-outline-blank-icon2 {
  position: absolute;
  top: 849px;
  left: 370px;
  width: 43.14px;
  height: 43.14px;
}
.check-box-outline-blank-icon2 {
  top: 848.8px;
  left: 724.1px;
}
.bn-quyn-47k2110511 {
  position: absolute;
  top: 981px;
  left: 578px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index53-chon-thoi-gian-thuo-child2 {
  position: absolute;
  top: 319px;
  left: 1002px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu3 {
  position: absolute;
  top: 318px;
  left: 987px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index53-chon-thoi-gian-thuo-child3 {
  position: absolute;
  top: 322px;
  left: 360px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon65 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 32.32%;
  right: 39.1%;
  bottom: 65.33%;
  left: 59.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index53-chon-thoi-gian-thuo-child4 {
  position: absolute;
  top: 402px;
  left: 537px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 192px;
  height: 66px;
}
.qunh-nh {
  position: absolute;
  top: 418px;
  left: 472px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 33px;
}
.index53-chon-thoi-gian-thuo-child5 {
  position: absolute;
  top: 402px;
  left: 770px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 187px;
  height: 66px;
}
.vn-quang {
  position: absolute;
  top: 419px;
  left: 701px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 33px;
}
.index53-chon-thoi-gian-thuo-child6 {
  position: absolute;
  top: 401px;
  left: 1003px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 66px;
}
.l-phng {
  top: 416px;
  left: 938px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 320px;
  height: 33px;
}
.ddmmyyyy-ddmmyyyy6,
.l-phng,
.qun-l-thng {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ddmmyyyy-ddmmyyyy6 {
  top: 339px;
  left: 454px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 333px;
  height: 11px;
}
.qun-l-thng {
  top: 218px;
  left: 537px;
  font-size: 43.82px;
  font-family: var(--font-calistoga);
  width: 621.68px;
  height: 104.07px;
}
.index53-chon-thoi-gian-thuo-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon66,
.vector-icon67 {
  position: absolute;
  height: 3.61%;
  width: 3.21%;
  top: 77.93%;
  right: 95.05%;
  bottom: 18.46%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon67 {
  height: 4.3%;
  width: 3.06%;
  top: 8.79%;
  right: 95.21%;
  bottom: 86.91%;
}
.index53-chon-thoi-gian-thuo-child8,
.index53-chon-thoi-gian-thuo-child9 {
  position: absolute;
  top: 159.5px;
  left: 5px;
  width: 289px;
  height: 1px;
}
.index53-chon-thoi-gian-thuo-child9 {
  top: 704.5px;
}
.group-child25 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.group-child25,
.thng-tin-nhn6,
.vector-icon68 {
  position: absolute;
  cursor: pointer;
}
.thng-tin-nhn6 {
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon68 {
  height: 42.87%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.38%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent24 {
  position: absolute;
  top: 177px;
  left: 14px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
}
.tng-hp12 {
  margin: 0;
}
.tng-hp-bng-container25 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container24 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon69 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent25 {
  position: absolute;
  top: 281px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.tng-hp-bng-container26 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon70 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child28,
.rectangle-parent26 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent26 {
  top: 381px;
  left: 12px;
  font-size: 22.41px;
}
.group-child28 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.qun-l-thng-container12 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon71 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent27 {
  position: absolute;
  top: 488px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.xem-li-d9 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon9 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent28 {
  position: absolute;
  top: 599px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon72 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 70.7%;
  right: 95.35%;
  bottom: 25%;
  left: 1.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tr-gip6 {
  top: 721px;
  left: 34px;
  font-size: var(--font-size-6xl);
}
.ci-t6,
.ng-xut6,
.tr-gip6 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t6 {
  top: 798px;
  left: 33px;
  font-size: var(--font-size-6xl);
}
.ng-xut6 {
  top: 0;
  left: 23px;
}
.vector-icon73 {
  position: absolute;
  height: 80.56%;
  width: 19.63%;
  top: 9.52%;
  right: 80.37%;
  bottom: 9.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-parent4 {
  position: absolute;
  top: 854px;
  left: 25px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h6 {
  position: absolute;
  top: 98px;
  left: 5px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon74 {
  position: absolute;
  height: 87.63%;
  width: 21.37%;
  top: 0;
  right: 78.63%;
  bottom: 12.37%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch6 {
  position: absolute;
  top: 7px;
  left: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent4 {
  position: absolute;
  height: 4.51%;
  width: 16.25%;
  top: 2.05%;
  right: 82.36%;
  bottom: 93.44%;
  left: 1.39%;
  cursor: pointer;
  font-size: 27.99px;
}
.div108,
.div109,
.div110,
.div111,
.div112,
.div113,
.div114 {
  position: absolute;
  top: 735px;
  left: 1081px;
  font-family: var(--font-trispace);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 56px;
}
.div109,
.div110,
.div111,
.div112,
.div113,
.div114 {
  top: 590px;
  left: 844px;
  width: 300px;
}
.div110,
.div111,
.div112,
.div113,
.div114 {
  top: 668px;
  left: 846px;
  width: 299px;
  height: 57px;
}
.div111,
.div112,
.div113,
.div114 {
  top: 735px;
  left: 844px;
  width: 300px;
  height: 56px;
}
.div112,
.div113,
.div114 {
  top: 587px;
  left: 1077px;
  width: 296px;
  height: 57px;
}
.div113,
.div114 {
  top: 667px;
  left: 1078px;
  height: 55px;
}
.div114 {
  top: 741px;
  left: 610px;
  width: 267px;
  height: 44px;
}
.index53-chon-thoi-gian-thuo-child10 {
  position: absolute;
  top: 501px;
  left: 413px;
  background-color: var(--color-gray-200);
  width: 204px;
  height: 75px;
}
.index53-chon-thoi-gian-thuo-child11,
.index53-chon-thoi-gian-thuo-child12,
.index53-chon-thoi-gian-thuo-child14 {
  position: absolute;
  top: 501px;
  left: 618px;
  background-color: var(--color-silver-100);
  width: 245px;
  height: 75px;
}
.index53-chon-thoi-gian-thuo-child12,
.index53-chon-thoi-gian-thuo-child14 {
  left: 864px;
  width: 241px;
}
.index53-chon-thoi-gian-thuo-child14 {
  left: 1106px;
  width: 242px;
}
.div115,
.div116 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
}
.div115 {
  top: 587px;
  left: 454px;
  font-family: var(--font-trispace);
  width: 120px;
}
.div116 {
  top: 588px;
  left: 590px;
  width: 301px;
}
.div116,
.div117,
.div118 {
  font-family: var(--font-trispace);
}
.div117 {
  position: absolute;
  top: 667px;
  left: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 56px;
}
.div118 {
  top: 668px;
  left: 454px;
  width: 120px;
  height: 57px;
}
.div118,
.div119,
.ngy,
.ph-cp,
.pht,
.s-gi-lm6 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div119 {
  top: 742px;
  left: 462px;
  font-family: var(--font-trispace);
  width: 100px;
  height: 40px;
}
.ngy,
.ph-cp,
.pht,
.s-gi-lm6 {
  font-family: var(--font-aldrich);
}
.ngy {
  top: 527px;
  left: 370px;
  font-size: 27.52px;
  color: var(--color-white);
  width: 284px;
  height: 22px;
}
.ph-cp,
.pht,
.s-gi-lm6 {
  top: 526px;
  left: 583px;
  font-size: 31.11px;
  width: 321px;
  height: 24px;
}
.ph-cp,
.pht {
  top: 528px;
  left: 818px;
  width: 322px;
}
.ph-cp {
  top: 531px;
  left: 1074px;
  font-size: 29.78px;
  width: 307px;
  height: 23px;
}
.index53-chon-thoi-gian-thuo-child15,
.index53-chon-thoi-gian-thuo-child16,
.index53-chon-thoi-gian-thuo-child17 {
  position: absolute;
  top: 500px;
  left: 412px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 206px;
  height: 317px;
}
.index53-chon-thoi-gian-thuo-child16,
.index53-chon-thoi-gian-thuo-child17 {
  left: 863px;
  width: 243px;
}
.index53-chon-thoi-gian-thuo-child17 {
  left: 1105px;
}
.index53-chon-thoi-gian-thuo-child18,
.index53-chon-thoi-gian-thuo-child19,
.index53-chon-thoi-gian-thuo-child20 {
  position: absolute;
  top: 500px;
  left: 617px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 247px;
  height: 317px;
}
.index53-chon-thoi-gian-thuo-child19,
.index53-chon-thoi-gian-thuo-child20 {
  top: 576px;
  left: 412px;
  width: 936px;
  height: 83px;
}
.index53-chon-thoi-gian-thuo-child20 {
  top: 658px;
}
.index53-chon-thoi-gian-thuo-child21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1528px;
  height: 1023px;
}
.index53-chon-thoi-gian-thuo-child22 {
  position: absolute;
  top: 321px;
  left: 380px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 547px;
  height: 42px;
}
.vector-icon75 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 32.23%;
  right: 39.1%;
  bottom: 65.43%;
  left: 56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ddmmyyyy-ddmmyyyy7 {
  position: absolute;
  top: 338px;
  left: 451px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 11px;
}
.thng-1-20236 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  text-align: left;
}
.start-icon64 {
  position: relative;
  margin: 0 !important;
  width: 52px;
  height: 40px;
  z-index: 0;
}
.end-icon64,
.middle64,
.selected-icon64 {
  margin: 0 !important;
  width: 52px;
  height: 40px;
  display: none;
}
.middle64 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 26px);
  background-color: var(--color-lightgoldenrodyellow);
  z-index: 1;
}
.end-icon64,
.selected-icon64 {
  position: relative;
  z-index: 2;
}
.selected-icon64 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  z-index: 3;
}
.day940,
.day941 {
  position: relative;
}
.day941 {
  line-height: 22px;
  z-index: 4;
  position: absolute;
}
.day940 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.start-icon65 {
  position: relative;
  margin: 0 !important;
  display: none;
  z-index: 0;
}
.day950,
.middle65,
.start-icon65 {
  width: 52px;
  height: 40px;
}
.middle65 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 20px);
  left: calc(50% - 26px);
  background-color: var(--color-lightgoldenrodyellow);
  z-index: 1;
}
.day950 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--red-500);
}
.week88,
.week89 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.week88 {
  align-self: stretch;
  justify-content: flex-end;
}
.week89 {
  width: 364px;
  justify-content: flex-start;
}
.end-icon94 {
  position: relative;
  margin: 0 !important;
  width: 52px;
  height: 40px;
  z-index: 2;
}
.month-wrapper4,
.month16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.month16 {
  background-color: var(--color-white);
  height: 305px;
  padding: var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.month-wrapper4 {
  width: 390px;
  align-items: center;
}
.thng-2-20236 {
  font-size: var(--font-size-mid);
  font-weight: 100;
  color: var(--gray-900);
  text-align: left;
}
.day1003,
.thng-2-20236 {
  position: relative;
  line-height: 22px;
}
.day1002,
.day1006,
.day1012,
.day1042 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day1006,
.day1012,
.day1042 {
  color: var(--red-500);
}
.day1012,
.day1042 {
  color: var(--gray-900);
}
.day1042 {
  color: var(--light-palette-black);
}
.frame-parent3,
.month17,
.week96 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.week96 {
  width: 364px;
  flex-direction: row;
  color: var(--gray-900);
}
.frame-parent3,
.month17 {
  background-color: var(--color-white);
  flex-direction: column;
}
.month17 {
  padding: var(--padding-base) var(--padding-smi);
  gap: var(--gap-5xs);
  color: var(--light-palette-black);
}
.frame-parent3 {
  position: absolute;
  top: 46px;
  left: 1px;
  height: 748px;
  padding: var(--padding-base) 0 var(--padding-77xl);
  box-sizing: border-box;
}
.frame49 {
  color: var(--red-500);
}
.frame49,
.frame50 {
  border-bottom: 1px solid var(--gray-50);
  box-sizing: border-box;
  width: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: center;
}
.frame48,
.week98 {
  display: flex;
  justify-content: flex-start;
}
.week98 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs) 0;
  align-items: flex-start;
}
.frame48 {
  position: absolute;
  top: 0;
  left: 1px;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}
.end-date-selected2,
.index53-chon-thoi-gian-thuo {
  background-color: var(--color-white);
  cursor: pointer;
}
.end-date-selected2 {
  position: absolute;
  top: 387px;
  left: 435px;
  width: 390px;
  height: 369px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--gray-900);
}
.index53-chon-thoi-gian-thuo {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 21.75px;
  color: var(--light-palette-black);
  font-family: var(--font-inter);
}
