.index74-xem-lai-du-lieu-tha-child {
  position: absolute;
  top: 0;
  left: 13px;
  background-color: var(--color-gainsboro-100);
  width: 246px;
  height: 63px;
}
.xem-li-d13 {
  position: absolute;
  top: 168px;
  left: 536px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-calistoga);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 644px;
  height: 123px;
}
.quick-reference-all-icon13 {
  position: absolute;
  top: 38px;
  left: 778.14px;
  width: 153.24px;
  height: 158.53px;
  opacity: 0.8;
}
.bn-quyn-47k2110516 {
  position: absolute;
  top: 969px;
  left: 575px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index74-xem-lai-du-lieu-tha-item {
  position: absolute;
  top: 286px;
  left: 854px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon111 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 28.5%;
  right: 4.38%;
  bottom: 68.16%;
  left: 88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div166 {
  position: absolute;
  top: 300px;
  left: 946px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 11px;
}
.index74-xem-lai-du-lieu-tha-inner,
.vector-icon112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon112 {
  height: 4.3%;
  width: 3.06%;
  top: 8.79%;
  right: 95.14%;
  bottom: 86.91%;
  left: 1.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index74-xem-lai-du-lieu-tha-child1,
.index74-xem-lai-du-lieu-tha-child2 {
  position: absolute;
  top: 159.5px;
  left: 6px;
  width: 289px;
  height: 1px;
}
.index74-xem-lai-du-lieu-tha-child2 {
  top: 704.5px;
}
.index74-xem-lai-du-lieu-tha-child3 {
  position: absolute;
  top: 177px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
  cursor: pointer;
}
.thng-tin-nhn10 {
  position: absolute;
  top: 190px;
  left: 65px;
  font-size: 21.21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon113 {
  position: absolute;
  height: 3.35%;
  width: 3.4%;
  top: 19.53%;
  right: 94.79%;
  bottom: 77.12%;
  left: 1.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child45 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
  cursor: pointer;
}
.tng-hp20 {
  margin: 0;
}
.tng-hp-bng-container41 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container40 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon114 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent44 {
  position: absolute;
  top: 281px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.tng-hp-bng-container42 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon115 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent45 {
  position: absolute;
  top: 381px;
  left: 13px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.qun-l-thng-container20 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon116 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent46 {
  position: absolute;
  top: 488px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon117 {
  position: absolute;
  height: 2.73%;
  width: 2.43%;
  top: 78.42%;
  right: 95.9%;
  bottom: 18.85%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child48 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.xem-li-d14 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
}
.quick-reference-all-icon14 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
}
.rectangle-parent47 {
  position: absolute;
  top: 599px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon118 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 71.29%;
  right: 95.28%;
  bottom: 24.41%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ci-t10,
.tr-gip10 {
  position: absolute;
  top: 727px;
  left: 35px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t10 {
  top: 793px;
  left: 29px;
}
.ng-xut10,
.vector-icon119 {
  position: absolute;
  cursor: pointer;
}
.ng-xut10 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon119 {
  height: 69.05%;
  width: 16.82%;
  top: 9.52%;
  right: 83.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-parent8 {
  position: absolute;
  top: 858px;
  left: 26px;
  width: 214px;
  height: 42px;
  cursor: pointer;
}
.bch-h10 {
  position: absolute;
  top: 95px;
  left: 9px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon120 {
  height: 95.94%;
  width: 21.01%;
  top: 0;
  right: 78.99%;
  bottom: 4.06%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch10,
.vector-icon120,
.vector-parent8 {
  position: absolute;
  cursor: pointer;
}
.trang-ch10 {
  top: 3px;
  left: 29px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-parent8 {
  height: 4.12%;
  width: 16.53%;
  top: 2.05%;
  right: 82.01%;
  bottom: 93.83%;
  left: 1.46%;
  font-size: 27.99px;
}
.index74-xem-lai-du-lieu-tha-child4 {
  position: absolute;
  top: 411px;
  left: 337px;
  background-color: var(--color-gray-200);
  width: 187px;
  height: 75px;
}
.index74-xem-lai-du-lieu-tha-child5,
.index74-xem-lai-du-lieu-tha-child6,
.index74-xem-lai-du-lieu-tha-child7 {
  position: absolute;
  top: 411px;
  left: 524px;
  background-color: var(--color-silver-100);
  width: 301px;
  height: 75px;
}
.index74-xem-lai-du-lieu-tha-child6,
.index74-xem-lai-du-lieu-tha-child7 {
  left: 1108px;
  width: 292px;
}
.index74-xem-lai-du-lieu-tha-child7 {
  left: 814px;
  width: 294px;
}
.m-nhn-vin-container14 {
  position: absolute;
  top: 437px;
  left: 320px;
  font-size: 27.52px;
  font-family: var(--font-aldrich);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 221px;
  height: 22px;
}
.tn-nhn-vin-container14 {
  top: 436px;
  left: 490px;
  font-size: 31.11px;
  width: 333px;
  height: 24px;
}
.lng-chnh-thc-container14,
.tn-nhn-vin-container14,
.tng-s-gi-container14 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.tng-s-gi-container14 {
  top: 437px;
  left: 837px;
  font-size: 31.11px;
  width: 251px;
  height: 24px;
}
.lng-chnh-thc-container14 {
  top: 443px;
  left: 1133px;
  font-size: var(--font-size-7xl);
  width: 239px;
  height: 23px;
}
.index74-xem-lai-du-lieu-tha-child8,
.index74-xem-lai-du-lieu-tha-child9 {
  position: absolute;
  top: 411px;
  left: 336px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 316px;
}
.index74-xem-lai-du-lieu-tha-child9 {
  left: 523px;
  width: 293px;
  height: 317px;
}
.index74-xem-lai-du-lieu-tha-child10,
.index74-xem-lai-du-lieu-tha-child11,
.index74-xem-lai-du-lieu-tha-child12,
.index74-xem-lai-du-lieu-tha-child13 {
  position: absolute;
  top: 411px;
  left: 815px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 293px;
  height: 317px;
}
.index74-xem-lai-du-lieu-tha-child11,
.index74-xem-lai-du-lieu-tha-child12,
.index74-xem-lai-du-lieu-tha-child13 {
  left: 1107px;
}
.index74-xem-lai-du-lieu-tha-child12,
.index74-xem-lai-du-lieu-tha-child13 {
  top: 486px;
  left: 336px;
  width: 1064px;
  height: 83px;
}
.index74-xem-lai-du-lieu-tha-child13 {
  top: 568px;
}
.qn1 {
  top: 502px;
  left: 394px;
  font-size: var(--font-size-xl);
  width: 65px;
  height: 67px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172,
.l-phng4,
.lp1,
.qn1,
.qunh-nh4,
.vn-quang4,
.vq1 {
  position: absolute;
  font-family: var(--font-trispace);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vq1 {
  top: 584px;
  left: 394px;
  font-size: var(--font-size-xl);
  width: 65px;
  height: 67px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172,
.l-phng4,
.lp1,
.qunh-nh4,
.vn-quang4 {
  height: 68px;
}
.lp1 {
  top: 655px;
  left: 388px;
  font-size: var(--font-size-xl);
  width: 77px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172,
.l-phng4,
.qunh-nh4,
.vn-quang4 {
  top: 502px;
  left: 556px;
  width: 202px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172,
.l-phng4,
.vn-quang4 {
  top: 583px;
  left: 571px;
  width: 171px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172,
.l-phng4 {
  top: 655px;
  left: 583px;
  width: 148px;
}
.div167,
.div168,
.div169,
.div170,
.div171,
.div172 {
  top: 506px;
  left: 898px;
  font-size: var(--font-size-4xl);
  width: 129px;
  height: 59px;
}
.div168,
.div169,
.div170,
.div171,
.div172 {
  top: 589px;
  width: 130px;
  height: 57px;
}
.div169,
.div170,
.div171,
.div172 {
  top: 660px;
  width: 129px;
  height: 59px;
}
.div170,
.div171,
.div172 {
  top: 507px;
  left: 1187px;
  width: 132px;
  height: 58px;
}
.div171,
.div172 {
  top: 588px;
}
.div172 {
  top: 660px;
}
.index74-xem-lai-du-lieu-tha {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--light-palette-black);
  font-family: var(--font-inter);
}
