.index71-chon-thoi-gian-xem-child {
  position: absolute;
  top: 0;
  left: 13px;
  background-color: var(--color-gainsboro-100);
  width: 246px;
  height: 63px;
}
.xem-li-d4 {
  position: absolute;
  top: 156.19px;
  left: 561px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-calistoga);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 621.68px;
  height: 104.07px;
}
.quick-reference-all-icon4 {
  position: absolute;
  top: 47px;
  left: 794.86px;
  width: 148px;
  height: 133.63px;
  opacity: 0.8;
}
.bn-quyn-47k211054 {
  position: absolute;
  top: 969px;
  left: 575px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index71-chon-thoi-gian-xem-item,
.vector-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon21 {
  height: 4.3%;
  width: 3.06%;
  top: 8.79%;
  right: 95.14%;
  bottom: 86.91%;
  left: 1.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index71-chon-thoi-gian-xem-child1,
.index71-chon-thoi-gian-xem-inner {
  position: absolute;
  top: 159.5px;
  left: 6px;
  width: 289px;
  height: 1px;
}
.index71-chon-thoi-gian-xem-child1 {
  top: 704.5px;
}
.index71-chon-thoi-gian-xem-child2 {
  position: absolute;
  top: 177px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
  cursor: pointer;
}
.thng-tin-nhn2 {
  top: 190px;
  left: 65px;
  font-size: 21.21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.group-child6,
.thng-tin-nhn2,
.vector-icon22 {
  position: absolute;
  cursor: pointer;
}
.vector-icon22 {
  height: 3.35%;
  width: 3.4%;
  top: 19.53%;
  right: 94.79%;
  bottom: 77.12%;
  left: 1.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.tng-hp4 {
  margin: 0;
}
.tng-hp-bng-container9 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container8 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon23 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent5 {
  position: absolute;
  top: 281px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.tng-hp-bng-container10 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon24 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent6 {
  position: absolute;
  top: 381px;
  left: 13px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.qun-l-thng-container4 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon25 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent7 {
  position: absolute;
  top: 488px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon26 {
  position: absolute;
  height: 2.73%;
  width: 2.43%;
  top: 78.42%;
  right: 95.9%;
  bottom: 18.85%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.xem-li-d5 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
}
.quick-reference-all-icon5 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
}
.rectangle-parent8 {
  position: absolute;
  top: 599px;
  left: 15px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
}
.vector-icon27 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 71.29%;
  right: 95.28%;
  bottom: 24.41%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tr-gip2 {
  top: 727px;
  left: 35px;
  font-size: var(--font-size-6xl);
}
.ci-t2,
.ng-xut2,
.tr-gip2 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t2 {
  top: 793px;
  left: 29px;
  font-size: var(--font-size-6xl);
}
.ng-xut2 {
  top: 0;
  left: 23px;
}
.vector-icon28 {
  position: absolute;
  height: 69.05%;
  width: 16.82%;
  top: 9.52%;
  right: 83.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-container {
  position: absolute;
  top: 858px;
  left: 26px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bch-h2 {
  position: absolute;
  top: 95px;
  left: 9px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.vector-icon29 {
  position: absolute;
  height: 95.94%;
  width: 21.01%;
  top: 0;
  right: 78.99%;
  bottom: 4.06%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch2 {
  position: absolute;
  top: 3px;
  left: 29px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
}
.vector-container {
  position: absolute;
  height: 4.12%;
  width: 16.53%;
  top: 2.05%;
  right: 82.01%;
  bottom: 93.83%;
  left: 1.46%;
  cursor: pointer;
  font-size: 27.99px;
}
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33 {
  position: absolute;
  top: 657px;
  left: 846px;
  font-family: var(--font-trispace);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
}
.div28,
.div29,
.div30,
.div31,
.div32,
.div33 {
  left: 1136px;
}
.div29,
.div30,
.div31,
.div32,
.div33 {
  top: 505px;
  left: 845px;
  width: 234px;
}
.div30,
.div31,
.div32,
.div33 {
  top: 504px;
  left: 1136px;
  width: 233px;
  height: 57px;
}
.div31,
.div32,
.div33 {
  top: 582px;
  left: 1135px;
  width: 234px;
  height: 56px;
}
.div32,
.div33 {
  left: 847px;
  width: 231px;
  height: 55px;
}
.div33 {
  top: 663px;
  left: 552px;
  width: 208px;
  height: 44px;
}
.index71-chon-thoi-gian-xem-child3 {
  position: absolute;
  top: 411px;
  left: 337px;
  background-color: var(--color-gray-200);
  width: 187px;
  height: 75px;
}
.index71-chon-thoi-gian-xem-child4,
.index71-chon-thoi-gian-xem-child5,
.index71-chon-thoi-gian-xem-child6 {
  position: absolute;
  top: 411px;
  left: 524px;
  background-color: var(--color-silver-100);
  width: 301px;
  height: 75px;
}
.index71-chon-thoi-gian-xem-child5,
.index71-chon-thoi-gian-xem-child6 {
  left: 1108px;
  width: 292px;
}
.index71-chon-thoi-gian-xem-child6 {
  left: 814px;
  width: 294px;
}
.div34,
.div35 {
  position: absolute;
  top: 504px;
  display: flex;
  align-items: center;
  height: 57px;
}
.div34 {
  left: 379px;
  font-family: var(--font-trispace);
  justify-content: center;
  width: 93px;
}
.div35 {
  left: 539px;
  width: 235px;
}
.div35,
.div36,
.div37 {
  font-family: var(--font-trispace);
  justify-content: center;
}
.div36 {
  position: absolute;
  top: 582px;
  left: 539px;
  display: flex;
  align-items: center;
  width: 234px;
  height: 56px;
}
.div37 {
  top: 581px;
  left: 379px;
  width: 93px;
  height: 57px;
}
.div37,
.div38,
.m-nhn-vin-container4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div38 {
  top: 665px;
  left: 387px;
  font-family: var(--font-trispace);
  justify-content: center;
  width: 77px;
  height: 40px;
}
.m-nhn-vin-container4 {
  top: 437px;
  left: 320px;
  font-size: 27.52px;
  font-family: var(--font-aldrich);
  color: var(--color-white);
  width: 221px;
  height: 22px;
}
.tn-nhn-vin-container4 {
  top: 436px;
  left: 490px;
  font-size: 31.11px;
  width: 333px;
  height: 24px;
}
.lng-chnh-thc-container4,
.tn-nhn-vin-container4,
.tng-s-gi-container4 {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.tng-s-gi-container4 {
  top: 437px;
  left: 837px;
  font-size: 31.11px;
  width: 251px;
  height: 24px;
}
.lng-chnh-thc-container4 {
  top: 443px;
  left: 1133px;
  font-size: var(--font-size-7xl);
  width: 239px;
  height: 23px;
}
.index71-chon-thoi-gian-xem-child7,
.index71-chon-thoi-gian-xem-child8 {
  position: absolute;
  top: 411px;
  left: 336px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 316px;
}
.index71-chon-thoi-gian-xem-child8 {
  left: 523px;
  width: 293px;
  height: 317px;
}
.index71-chon-thoi-gian-xem-child10,
.index71-chon-thoi-gian-xem-child11,
.index71-chon-thoi-gian-xem-child12,
.index71-chon-thoi-gian-xem-child9 {
  position: absolute;
  top: 411px;
  left: 815px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 293px;
  height: 317px;
}
.index71-chon-thoi-gian-xem-child10,
.index71-chon-thoi-gian-xem-child11,
.index71-chon-thoi-gian-xem-child12 {
  left: 1107px;
}
.index71-chon-thoi-gian-xem-child11,
.index71-chon-thoi-gian-xem-child12 {
  top: 486px;
  left: 336px;
  width: 1064px;
  height: 83px;
}
.index71-chon-thoi-gian-xem-child12 {
  top: 568px;
}
.index71-chon-thoi-gian-xem-child13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1540px;
  height: 1024px;
}
.index71-chon-thoi-gian-xem-child14 {
  position: absolute;
  top: 303px;
  left: 857px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon30 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 30.27%;
  right: 4.38%;
  bottom: 67.38%;
  left: 88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ddmmyyyy-ddmmyyyy2 {
  position: absolute;
  top: 317px;
  left: 949px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 11px;
}
.thng-1-20232 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  color: var(--gray-900);
  text-align: left;
}
.div40 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
}
.day295,
.div40 {
  position: relative;
  line-height: 22px;
}
.day294 {
  color: var(--gray-900);
}
.day294,
.day296,
.day302 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day302 {
  color: var(--red-500);
}
.week27,
.week28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.week27 {
  align-self: stretch;
  justify-content: flex-end;
}
.week28 {
  width: 364px;
  justify-content: flex-start;
}
.div41,
.div42,
.div43 {
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.div41 {
  color: var(--red-500);
  width: 53px;
}
.div42,
.div43 {
  width: 51px;
}
.div43 {
  width: 50px;
}
.day388,
.month-frame,
.month5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.month5 {
  background-color: var(--color-white);
  padding: var(--padding-base) var(--padding-smi);
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.day388,
.month-frame {
  width: 390px;
  align-items: center;
}
.day388 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  justify-content: center;
  color: var(--light-palette-black);
}
.week35 {
  width: 364px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-900);
}
.div44 {
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 40px;
  flex-shrink: 0;
}
.week37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--red-500);
}
.thng-3-20231 {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 22px;
  font-weight: 100;
  text-align: left;
}
.day446,
.week39 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day446 {
  background-color: var(--color-white);
  width: 52px;
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--red-200);
}
.frame-container,
.month7,
.week40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.week40 {
  flex-direction: row;
  color: var(--gray-500);
}
.frame-container,
.month7 {
  background-color: var(--color-white);
  flex-direction: column;
}
.month7 {
  padding: var(--padding-base) var(--padding-smi);
  gap: var(--gap-5xs);
  color: var(--gray-900);
}
.frame-container {
  position: absolute;
  top: 46px;
  left: -2px;
  padding: var(--padding-base) 0 var(--padding-77xl);
}
.frame17 {
  border-bottom: 1px solid var(--gray-50);
  box-sizing: border-box;
  width: 52px;
  padding: var(--padding-3xs);
  justify-content: center;
  color: var(--red-500);
}
.frame17,
.frame18,
.week43 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame18 {
  border-bottom: 1px solid var(--gray-50);
  box-sizing: border-box;
  width: 52px;
  padding: var(--padding-3xs);
  justify-content: center;
}
.week43 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-9xs) var(--padding-xs) 0;
  justify-content: flex-start;
}
.div39,
.frame16 {
  position: absolute;
}
.frame16 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  color: var(--gray-900);
}
.div39 {
  top: 354px;
  left: 914px;
  background-color: var(--color-white);
  width: 390px;
  height: 376px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
}
.index71-chon-thoi-gian-xem {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 21.75px;
  color: var(--light-palette-black);
  font-family: var(--font-inter);
}
