.thng-tin-nhn22,
.vector-icon248 {
  position: relative;
  width: 98px;
  height: 79px;
}
.thng-tin-nhn22 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 95px;
  flex-shrink: 0;
}
.div348,
.vector-parent17 {
  position: absolute;
  display: flex;
  align-items: center;
}
.vector-parent17 {
  top: 69px;
  left: 620px;
  width: 378px;
  height: 163px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-29xl);
  font-family: var(--font-calistoga);
}
.div348 {
  top: 681px;
  left: 819px;
  justify-content: center;
  width: 217px;
  height: 90px;
}
.div349,
.div350,
.div351,
.div352,
.div353,
.l-phng14,
.pha-ch,
.pha-ch1,
.phc-v {
  position: absolute;
  top: 459px;
  left: 645px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 91px;
}
.div349,
.div350,
.div351,
.div352,
.div353,
.l-phng14,
.pha-ch1,
.phc-v {
  top: 572px;
  left: 646px;
  height: 89px;
}
.div349,
.div350,
.div351,
.div352,
.div353,
.l-phng14,
.phc-v {
  top: 683px;
  left: 645px;
  height: 90px;
}
.div349,
.div350,
.div351,
.div352,
.div353,
.l-phng14 {
  top: 454px;
  left: 814px;
  width: 216px;
  height: 91px;
}
.div350,
.div351,
.div352,
.div353,
.l-phng14 {
  left: 1012px;
  width: 218px;
}
.div351,
.div352,
.div353,
.l-phng14 {
  top: 683px;
  left: 1016px;
  height: 90px;
}
.div352,
.div353,
.l-phng14 {
  top: 572px;
  height: 89px;
}
.div353,
.l-phng14 {
  top: 569px;
  left: 815px;
  width: 216px;
}
.l-phng14 {
  top: 700px;
  left: 474px;
  width: 195px;
  height: 63px;
}
.index3-thong-tin-nhan-vien-child {
  position: absolute;
  top: 317px;
  left: 330px;
  background-color: var(--color-gray-200);
  width: 149px;
  height: 120px;
}
.index3-thong-tin-nhan-vien-inner,
.index3-thong-tin-nhan-vien-item {
  position: absolute;
  top: 317px;
  left: 480px;
  background-color: var(--color-silver-100);
  width: 178px;
  height: 120px;
}
.index3-thong-tin-nhan-vien-inner {
  left: 659px;
  width: 176px;
}
.index3-thong-tin-nhan-vien-child2,
.index3-thong-tin-nhan-vien-child3,
.index3-thong-tin-nhan-vien-child4 {
  position: absolute;
  top: 317px;
  left: 836px;
  background-color: var(--color-silver-100);
  width: 176px;
  height: 120px;
}
.index3-thong-tin-nhan-vien-child3,
.index3-thong-tin-nhan-vien-child4 {
  left: 1013px;
  width: 210px;
}
.index3-thong-tin-nhan-vien-child4 {
  left: 1224px;
  width: 177px;
}
.lp2,
.qn2,
.qunh-nh14,
.vn-quang14,
.vq2 {
  position: absolute;
  top: 454px;
  left: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 91px;
}
.lp2,
.qunh-nh14,
.vn-quang14,
.vq2 {
  top: 456px;
  left: 459px;
  width: 220px;
}
.lp2,
.vn-quang14,
.vq2 {
  top: 570px;
  width: 219px;
  height: 89px;
}
.lp2,
.vq2 {
  top: 572px;
  left: 360px;
  width: 88px;
}
.lp2 {
  top: 702px;
  left: 366px;
  width: 73px;
  height: 65px;
}
.vector-icon249,
.vector-icon250,
.vector-icon251 {
  position: absolute;
  height: 5.86%;
  width: 3.82%;
  top: 45.8%;
  right: 6.81%;
  bottom: 48.34%;
  left: 84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon250,
.vector-icon251 {
  height: 5.57%;
  top: 67.68%;
  bottom: 26.76%;
}
.vector-icon251 {
  height: 5.86%;
  top: 57.23%;
  bottom: 36.91%;
}
.m-nhn-vin-container21 {
  line-break: anywhere;
  width: 100%;
}
.m-nhn-vin-container20 {
  position: absolute;
  top: 360.46px;
  left: 299px;
  font-size: 28.31px;
  font-family: var(--font-aldrich);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 207px;
  height: 33.62px;
}
.chc-v,
.tn-nhn-vin-container20 {
  font-size: var(--font-size-13xl);
  width: 234px;
  height: 38px;
}
.tn-nhn-vin-container20 {
  position: absolute;
  top: 358px;
  left: 454px;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.chc-v {
  top: 361px;
  left: 626px;
  justify-content: center;
}
.chc-v,
.mc-lng-c-container10,
.vn-tay {
  position: absolute;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
}
.vn-tay {
  top: 361px;
  left: 1197px;
  font-size: var(--font-size-13xl);
  justify-content: center;
  width: 234px;
  height: 39px;
}
.mc-lng-c-container10 {
  top: 366px;
  left: 812px;
  font-size: 30.63px;
  width: 224px;
  height: 37.33px;
}
.stk {
  margin: 0;
}
.stk-ngn-hng-container {
  position: absolute;
  top: 350px;
  left: 984px;
  font-size: 30.36px;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
  width: 258px;
  height: 53px;
}
.index3-thong-tin-nhan-vien-child5,
.vector-icon252 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.vector-icon252 {
  height: 98.27%;
  width: 20.66%;
  right: 79.34%;
  bottom: 1.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch22 {
  position: absolute;
  top: 2px;
  left: 33px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 39.19px;
  cursor: pointer;
}
.vector-parent18 {
  position: absolute;
  height: 4.02%;
  width: 16.81%;
  top: 2.05%;
  right: 82.15%;
  bottom: 93.93%;
  left: 1.04%;
  font-size: 27.99px;
  font-family: var(--font-inter);
}
.index3-thong-tin-nhan-vien-child6 {
  position: absolute;
  top: 240px;
  left: 1045px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 357px;
  height: 44px;
}
.cp-nht-trng {
  position: absolute;
  top: 241px;
  left: 998px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index3-thong-tin-nhan-vien-child7,
.index3-thong-tin-nhan-vien-child8 {
  position: absolute;
  top: 840px;
  left: 1044px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 357px;
  height: 44px;
}
.index3-thong-tin-nhan-vien-child8 {
  top: 900px;
}
.chnh-sa {
  top: 841px;
  left: 1140px;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue);
  width: 166px;
  height: 42px;
}
.bch-h23,
.chnh-sa,
.xo {
  position: absolute;
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo {
  top: 902px;
  left: 1140px;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue);
  width: 166px;
  height: 42px;
}
.bch-h23 {
  top: 93px;
  left: 3px;
  font-size: var(--font-size-8xl-8);
  width: 265px;
  height: 38.92px;
}
.vector-icon253 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 8.79%;
  right: 95.56%;
  bottom: 86.91%;
  left: 1.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index3-thong-tin-nhan-vien-child9 {
  position: absolute;
  top: 159.5px;
  left: 0;
  width: 289px;
  height: 1px;
}
.index3-thong-tin-nhan-vien-child10,
.vector-icon254 {
  position: absolute;
  top: 704.5px;
  left: 0;
  width: 289px;
  height: 1px;
}
.vector-icon254 {
  height: 3.13%;
  width: 2.01%;
  top: 82.62%;
  right: 22.15%;
  bottom: 14.26%;
  left: 70%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child108 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.thng-tin-nhn23 {
  position: absolute;
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
}
.vector-icon255 {
  position: absolute;
  height: 42.88%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.37%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent104 {
  position: absolute;
  top: 177px;
  left: 9px;
  width: 281.84px;
  height: 80px;
  font-size: 21.21px;
  font-family: var(--font-inter);
}
.group-child109 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
  cursor: pointer;
}
.tng-hp-bng-container89 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon256 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent105 {
  position: absolute;
  top: 281px;
  left: 9px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.tng-hp-bng-container91 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon257 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent106 {
  position: absolute;
  top: 381px;
  left: 7px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.qun-l-thng-container45 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon258 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent107 {
  position: absolute;
  top: 488px;
  left: 9px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon259 {
  position: absolute;
  height: 2.93%;
  width: 1.74%;
  top: 88.57%;
  right: 22.36%;
  bottom: 8.5%;
  left: 70%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xem-li-d28 {
  position: absolute;
  top: 22px;
  left: 76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon27 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent108 {
  position: absolute;
  top: 599px;
  left: 9px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon260 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 70.7%;
  right: 95.56%;
  bottom: 25%;
  left: 1.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ci-t22,
.tr-gip22 {
  position: absolute;
  top: 721px;
  left: 31px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t22 {
  top: 792px;
  left: 32px;
}
.ng-xut23,
.vector-icon261 {
  position: absolute;
  cursor: pointer;
}
.ng-xut23 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon261 {
  height: 80.56%;
  width: 19.63%;
  top: 9.52%;
  right: 80.37%;
  bottom: 9.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.bn-quyn-47k2110530,
.ng-xut-parent17 {
  position: absolute;
  font-family: var(--font-inter);
}
.ng-xut-parent17 {
  top: 853px;
  left: 16px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
}
.bn-quyn-47k2110530 {
  top: 989px;
  left: 591px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1092px;
  height: 28px;
}
.index3-thong-tin-nhan-vien-child11 {
  position: absolute;
  top: 316px;
  left: 329px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 151px;
  height: 465px;
}
.index3-thong-tin-nhan-vien-child12,
.index3-thong-tin-nhan-vien-child13,
.index3-thong-tin-nhan-vien-child14,
.index3-thong-tin-nhan-vien-child15 {
  position: absolute;
  top: 316px;
  left: 658px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 178px;
  height: 465px;
}
.index3-thong-tin-nhan-vien-child13,
.index3-thong-tin-nhan-vien-child14,
.index3-thong-tin-nhan-vien-child15 {
  left: 835px;
}
.index3-thong-tin-nhan-vien-child14,
.index3-thong-tin-nhan-vien-child15 {
  left: 1223px;
}
.index3-thong-tin-nhan-vien-child15 {
  left: 1012px;
  width: 212px;
}
.index3-thong-tin-nhan-vien-child16,
.index3-thong-tin-nhan-vien-child17,
.index3-thong-tin-nhan-vien-child18 {
  position: absolute;
  top: 316px;
  left: 479px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 180px;
  height: 465px;
}
.index3-thong-tin-nhan-vien-child17,
.index3-thong-tin-nhan-vien-child18 {
  top: 437px;
  left: 329px;
  width: 1072px;
  height: 122px;
}
.index3-thong-tin-nhan-vien-child18 {
  top: 558px;
  height: 117px;
}
.vector-icon262 {
  position: absolute;
  height: 4.59%;
  width: 3.33%;
  top: 76.86%;
  right: 95.56%;
  bottom: 18.55%;
  left: 1.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index3-thong-tin-nhan-vien {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 22.37px;
  color: var(--light-palette-black);
  font-family: var(--font-trispace);
}
