.index55-qn-thuong-phat-child {
  position: absolute;
  height: 11.33%;
  width: 6.74%;
  top: 2.34%;
  right: 35.56%;
  bottom: 86.33%;
  left: 57.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.index55-qn-thuong-phat-item {
  position: absolute;
  top: 847px;
  left: 711.52px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.thng-2000003 {
  position: absolute;
  top: 852.39px;
  left: 724.1px;
  font-size: 25.16px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index55-qn-thuong-phat-inner {
  position: absolute;
  top: 847px;
  left: 364px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--light-secondary);
  box-sizing: border-box;
  width: 289.39px;
  height: 46.73px;
}
.ng-trc-5000003 {
  position: absolute;
  top: 854.19px;
  left: 372.99px;
  font-size: 25.16px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.index55-qn-thuong-phat-child1 {
  position: absolute;
  top: 847px;
  left: 1122px;
  border-radius: 10.94px;
  background-color: var(--color-whitesmoke-100);
  border: 1.8px solid var(--color-red);
  box-sizing: border-box;
  width: 278px;
  height: 47px;
}
.tng-60000 {
  position: absolute;
  top: 855px;
  left: 1109px;
  font-size: 25.16px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-cornflowerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314.56px;
}
.vector-icon121 {
  position: absolute;
  height: 3.12%;
  width: 1.25%;
  top: 83.42%;
  right: 19.81%;
  bottom: 13.46%;
  left: 75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-box-outline-blank-icon7,
.check-box-outline-blank-icon8 {
  position: absolute;
  top: 849px;
  left: 370px;
  width: 43.14px;
  height: 43.14px;
}
.check-box-outline-blank-icon8 {
  top: 848.8px;
  left: 724.1px;
}
.bn-quyn-47k2110517 {
  position: absolute;
  top: 981px;
  left: 578px;
  font-size: var(--font-size-lg);
  display: flex;
  font-weight: 300;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
  width: 1048px;
  height: 27px;
}
.index55-qn-thuong-phat-child2 {
  position: absolute;
  top: 251px;
  left: 999px;
  border-radius: 6.09px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 387px;
  height: 44px;
}
.ly-d-liu7 {
  position: absolute;
  top: 251px;
  left: 977px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 42px;
}
.index55-qn-thuong-phat-child3 {
  position: absolute;
  top: 254px;
  left: 357px;
  border-radius: 6.09px;
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 543px;
  height: 40px;
}
.vector-icon122 {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 25.68%;
  right: 39.31%;
  bottom: 71.97%;
  left: 56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child49 {
  position: absolute;
  top: 0;
  left: 69px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 187px;
  height: 66px;
}
.vn-quang5 {
  position: absolute;
  top: 17px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 33px;
}
.rectangle-parent48 {
  position: absolute;
  top: 334px;
  left: 698px;
  width: 325px;
  height: 66px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 65px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 188px;
  height: 66px;
}
.l-phng5 {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 33px;
}
.rectangle-parent49 {
  position: absolute;
  top: 333px;
  left: 935px;
  width: 320px;
  height: 66px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.div173,
.qun-l-thng3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div173 {
  top: 269px;
  left: 437px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  width: 333px;
  height: 10px;
}
.qun-l-thng3 {
  top: 143px;
  left: 553px;
  font-size: 43.82px;
  font-family: var(--font-calistoga);
  width: 621.68px;
  height: 104.07px;
}
.index55-qn-thuong-phat-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1062.98px;
}
.group-child51,
.index55-qn-thuong-phat-child5,
.index55-qn-thuong-phat-child6 {
  position: absolute;
  top: 159.5px;
  left: 5px;
  width: 289px;
  height: 1px;
}
.group-child51,
.index55-qn-thuong-phat-child6 {
  top: 704.5px;
}
.group-child51 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-moccasin);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 271px;
  height: 80px;
}
.thng-tin-nhn11 {
  position: absolute;
  top: 13px;
  left: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231.84px;
  height: 53.72px;
  cursor: pointer;
}
.vector-icon123 {
  position: absolute;
  height: 42.87%;
  width: 17.39%;
  top: 28.75%;
  right: 78.71%;
  bottom: 28.38%;
  left: 3.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent50 {
  position: absolute;
  top: 177px;
  left: 14px;
  width: 281.84px;
  height: 80px;
  cursor: pointer;
  font-size: 21.21px;
  font-family: var(--font-inter);
}
.tng-hp22 {
  margin: 0;
}
.tng-hp-bng-container45 {
  line-break: anywhere;
  width: 100%;
}
.tng-hp-bng-container44 {
  position: absolute;
  top: 21px;
  left: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon124 {
  position: absolute;
  height: 53.75%;
  width: 17.71%;
  top: 17.5%;
  right: 77.12%;
  bottom: 28.75%;
  left: 5.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent51 {
  position: absolute;
  top: 281px;
  left: 14px;
  width: 271px;
  height: 80px;
  cursor: pointer;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.tng-hp-bng-container46 {
  position: absolute;
  top: 18px;
  left: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.vector-icon125 {
  position: absolute;
  height: 58.75%;
  width: 14.6%;
  top: 22.5%;
  right: 77.28%;
  bottom: 18.75%;
  left: 8.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child54,
.rectangle-parent52 {
  position: absolute;
  width: 271px;
  height: 80px;
}
.rectangle-parent52 {
  top: 381px;
  left: 12px;
  cursor: pointer;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.group-child54 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
}
.qun-l-thng-container22 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 189px;
  height: 43.33px;
}
.vector-icon126 {
  position: absolute;
  height: 65%;
  width: 19.19%;
  top: 15%;
  right: 76.75%;
  bottom: 20%;
  left: 4.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent53 {
  position: absolute;
  top: 488px;
  left: 14px;
  width: 271px;
  height: 80px;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.xem-li-d15 {
  position: absolute;
  top: 17px;
  left: 71px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 43.33px;
  cursor: pointer;
}
.quick-reference-all-icon15 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 74.9px;
  height: 67.63px;
  opacity: 0.8;
  cursor: pointer;
}
.rectangle-parent54 {
  position: absolute;
  top: 599px;
  left: 14px;
  width: 271px;
  height: 80px;
  cursor: pointer;
  font-size: 22.41px;
  font-family: var(--font-inter);
}
.vector-icon127,
.vector-icon128 {
  position: absolute;
  height: 3.61%;
  width: 3.21%;
  top: 77.05%;
  right: 95.05%;
  bottom: 19.34%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon128 {
  height: 4.3%;
  width: 3.06%;
  top: 70.7%;
  right: 95.35%;
  bottom: 25%;
  left: 1.6%;
}
.ci-t11,
.tr-gip11 {
  position: absolute;
  top: 721px;
  left: 34px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.ci-t11 {
  top: 787px;
  left: 28px;
}
.ng-xut11,
.vector-icon129 {
  position: absolute;
  cursor: pointer;
}
.ng-xut11 {
  top: 0;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 42px;
}
.vector-icon129 {
  height: 80.56%;
  width: 19.63%;
  top: 9.52%;
  right: 80.37%;
  bottom: 9.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.ng-xut-parent9 {
  position: absolute;
  top: 852px;
  left: 25px;
  width: 214px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.group-child56 {
  position: absolute;
  top: 0;
  left: 68px;
  border-radius: 6.09px;
  background-color: var(--color-khaki);
  width: 199px;
  height: 67px;
}
.qunh-nh5 {
  position: absolute;
  top: 16px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 34px;
}
.rectangle-parent55 {
  position: absolute;
  top: 334px;
  left: 461px;
  width: 336px;
  height: 67px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.09px;
  background-color: var(--color-peachpuff);
  width: 244px;
  height: 40px;
}
.m-nhn-vin {
  position: absolute;
  top: 9px;
  left: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 21.6px;
}
.rectangle-parent56 {
  position: absolute;
  top: 411px;
  left: 512px;
  width: 244px;
  height: 40px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.index55-qn-thuong-phat-child7,
.index55-qn-thuong-phat-child8 {
  position: absolute;
  top: 492px;
  left: 520px;
  background-color: var(--color-silver-100);
  width: 298px;
  height: 46px;
}
.index55-qn-thuong-phat-child8 {
  left: 331px;
  background-color: var(--color-gray-200);
  width: 191px;
}
.index55-qn-thuong-phat-child10,
.index55-qn-thuong-phat-child9 {
  position: absolute;
  top: 493px;
  left: 817px;
  background-color: var(--color-silver-100);
  width: 303px;
  height: 46px;
}
.index55-qn-thuong-phat-child10 {
  top: 492px;
  left: 1120px;
  width: 301px;
}
.ngy3 {
  top: 498px;
  left: 323px;
  font-size: 32.28px;
  font-family: var(--font-aldrich);
  color: var(--color-white);
  width: 205px;
  height: 36px;
}
.div174,
.div175,
.div176,
.ngy3,
.ph-cp3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ph-cp3 {
  top: 498px;
  left: 1140px;
  font-size: 32.28px;
  font-family: var(--font-aldrich);
  width: 268px;
  height: 36px;
}
.div174,
.div175,
.div176 {
  top: 675px;
  left: 399px;
  font-size: 20.17px;
  width: 54px;
  height: 48px;
}
.div175,
.div176 {
  top: 538px;
  width: 53px;
}
.div176 {
  top: 722px;
  height: 49px;
}
.index55-qn-thuong-phat-child11 {
  position: absolute;
  top: 767.5px;
  left: 330px;
  width: 1090px;
  height: 47.01px;
}
.index55-qn-thuong-phat-child12,
.index55-qn-thuong-phat-child13 {
  position: absolute;
  top: 491.5px;
  left: 331px;
  width: 1090px;
  height: 47.01px;
}
.index55-qn-thuong-phat-child13 {
  top: 537.5px;
}
.index55-qn-thuong-phat-child14,
.index55-qn-thuong-phat-child15 {
  position: absolute;
  top: 583.5px;
  left: 331px;
  width: 1090px;
  height: 47.01px;
}
.index55-qn-thuong-phat-child15 {
  top: 629.5px;
}
.index55-qn-thuong-phat-child16,
.index55-qn-thuong-phat-child17,
.pht3,
.s-gi-lm11 {
  position: absolute;
  top: 675.5px;
  left: 331px;
  width: 1090px;
  height: 47.01px;
}
.index55-qn-thuong-phat-child17,
.pht3,
.s-gi-lm11 {
  top: 721.5px;
}
.pht3,
.s-gi-lm11 {
  top: 498px;
  left: 565px;
  font-size: 32.28px;
  font-family: var(--font-aldrich);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 36px;
}
.pht3 {
  left: 864px;
  width: 205px;
}
.div177,
.div178 {
  font-size: 20.17px;
}
.div177 {
  position: absolute;
  top: 778px;
  left: 392px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 25px;
}
.div178 {
  top: 583px;
  left: 399px;
  width: 53px;
  height: 48px;
}
.div178,
.div179,
.div180,
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div179 {
  top: 628px;
  left: 399px;
  font-size: 20.17px;
  width: 53px;
  height: 49px;
}
.div180,
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 530px;
  left: 565px;
  width: 204px;
  height: 63px;
}
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  left: 865px;
  height: 64px;
}
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 575px;
  left: 1172px;
  width: 205px;
}
.div183,
.div184,
.div185,
.div186 {
  top: 621px;
  width: 204px;
}
.div184,
.div185,
.div186 {
  top: 667px;
}
.div185,
.div186 {
  top: 715px;
}
.div186 {
  top: 759px;
  height: 63px;
}
.div187,
.div188,
.div189,
.div190,
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  position: absolute;
  top: 575px;
  left: 865px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 64px;
}
.div188,
.div189,
.div190,
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 621px;
  height: 63px;
}
.div189,
.div190,
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 667px;
}
.div190,
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 715px;
}
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 759px;
}
.div192,
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 530px;
  left: 1172px;
  height: 64px;
}
.div193,
.div194,
.div195,
.div196,
.div197 {
  top: 575px;
  left: 564px;
  width: 206px;
  height: 63px;
}
.div194,
.div195,
.div196,
.div197 {
  top: 621px;
  left: 565px;
  width: 204px;
}
.div195,
.div196,
.div197 {
  top: 667px;
  left: 564px;
  width: 206px;
}
.div196,
.div197 {
  top: 759px;
}
.div197 {
  top: 715px;
  left: 565px;
  width: 204px;
}
.index55-qn-thuong-phat-child18,
.index55-qn-thuong-phat-child19,
.index55-qn-thuong-phat-child20,
.index55-qn-thuong-phat-child21 {
  position: absolute;
  top: 492px;
  left: 818px;
  border: 1px solid var(--light-palette-black);
  box-sizing: border-box;
  width: 302px;
  height: 322px;
}
.index55-qn-thuong-phat-child19,
.index55-qn-thuong-phat-child20,
.index55-qn-thuong-phat-child21 {
  left: 1119px;
}
.index55-qn-thuong-phat-child20,
.index55-qn-thuong-phat-child21 {
  left: 330px;
  width: 193px;
}
.index55-qn-thuong-phat-child21 {
  left: 522px;
  width: 297px;
}
.vector-icon130 {
  position: absolute;
  height: 4.3%;
  width: 3.06%;
  top: 9.18%;
  right: 94.58%;
  bottom: 86.52%;
  left: 2.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch11,
.vector-icon131 {
  position: absolute;
  cursor: pointer;
}
.vector-icon131 {
  height: 87.99%;
  width: 21.55%;
  top: 0;
  right: 78.45%;
  bottom: 12.01%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch11 {
  top: 9px;
  left: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 37px;
}
.bch-h11,
.vector-parent9 {
  position: absolute;
  font-family: var(--font-inter);
}
.vector-parent9 {
  height: 4.49%;
  width: 16.11%;
  top: 2.44%;
  right: 81.88%;
  bottom: 93.07%;
  left: 2.01%;
  cursor: pointer;
  font-size: 25.85px;
}
.bch-h11 {
  top: 97px;
  left: 18px;
  font-size: var(--font-size-8xl-8);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 38.92px;
}
.index55-qn-thuong-phat {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 20.24px;
  color: var(--light-palette-black);
  font-family: var(--font-trispace);
}
