.image-3-icon1 {
  position: absolute;
  top: 34px;
  left: calc(50% - 329.5px);
  width: 662px;
  height: 333px;
  opacity: 0.98;
}
.child5 {
  position: absolute;
  top: 421px;
  left: calc(50% - 284px);
  border-radius: 27.55px;
  width: 619px;
  height: 423px;
  cursor: pointer;
}
.mi-bn-qut2 {
  position: absolute;
  top: 664px;
  left: calc(50% - 238px);
  font-size: var(--font-size-29xl);
  font-family: var(--font-aldrich);
  color: var(--light-palette-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 530px;
  height: 121px;
}
.fingerprint-icon3 {
  position: absolute;
  height: 83.52%;
  width: 75.53%;
  top: 9.4%;
  right: 10.33%;
  bottom: 7.08%;
  left: 14.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fingerprint1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 440px;
  left: calc(50% - 70px);
  width: 209px;
  height: 193px;
}
.bn-quyn-47k211052,
.bn-quyn-47k211053 {
  position: absolute;
  top: 936px;
  /* left: 735px; */
  display: flex;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  /* width: 1092px; */
  right: 20px;
  height: 28px;
}
.bn-quyn-47k211053 {
  left: 2514px;
}
.div2 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 986px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
