body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-aldrich: Aldrich;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-gray-100: #442815;
  --light-primary: #262626;
  --color-white: #fff;
  --light-palette-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-2xs: 11px;

  /* border radiuses */
  --br-8xl-6: 27.6px;
  --br-lg: 18px;
  --br-11xl: 30px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
