.fingerprint-icon5 {
  position: absolute;
  top: 500.5px;
  left: 706.49px;
  width: 241.54px;
  height: 231.5px;
}
.fingerprint-icon6 {
  position: absolute;
  top: 527.83px;
  left: 686.99px;
  width: 277.61px;
  height: 172.99px;
  opacity: 0.5;
}
.child7,
.child8 {
  position: absolute;
  top: 251px;
  left: 495px;
  border-radius: var(--br-lg);
  width: 668px;
  height: 450px;
}
.child8 {
  cursor: pointer;
  border: 1px solid var(--light-palette-black);
  padding: 0;
  background-color: var(--color-gray-100);
  top: 552px;
  left: 846px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 287px;
  height: 62px;
}
.nhn-vin-qunh {
  top: 321px;
  left: 517px;
  font-size: var(--font-size-29xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 614px;
  height: 120px;
}
.am,
.child9,
.nhn-vin-qunh {
  position: absolute;
}
.am {
  top: 447px;
  left: 659px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 339px;
  height: 61px;
}
.child9 {
  cursor: pointer;
  border: 1px solid var(--light-palette-black);
  padding: 0;
  background-color: var(--color-gainsboro);
  top: 552px;
  left: 533px;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 273px;
  height: 65px;
}
.bn-quyn-47k211055,
.quay-li1,
.xc-nhn1 {
  position: absolute;
  top: 559px;
  left: 895px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 47px;
}
.bn-quyn-47k211055,
.quay-li1 {
  top: 560px;
  left: 596px;
  color: var(--light-primary);
  width: 147px;
}
.bn-quyn-47k211055 {
  top: 928px;
  left: 724px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  font-family: var(--font-inter);
  color: var(--color-white);
  width: 1092px;
  height: 28px;


  width: unset;
  right: 20px;
  left: unset;
}
.div4 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1620px;
  height: 986px;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--light-palette-black);
  font-family: var(--font-aldrich);
}


.child7 {
  left: calc(50% - 300px);
}

.nhn-vin-qunh {
  left: calc(50% - 280px);
}

.am {
  left: calc(50% - 128px);
}

.child9 {
  left: calc(50% - 240px);
}

.quay-li1 {
  left: calc(50% - 173px);
}

.child8 {
left: calc(50% + 55px);
}

.xc-nhn1 {
  left: calc(50% + 93px);
}