.image-3-icon {
  position: absolute;
  top: 38px;
  left: calc(50% - 303px);
  width: 665px;
  height: 334px;
  opacity: 0.98;
}
.child {
  position: absolute;
  top: 392px;
  left: 498px;
  left: calc(50% - 284px);
  border-radius: 27.55px;
  width: 619px;
  height: 423px;
}
.mi-bn-qut {
  position: absolute;
  top: 624px;
  left: calc(50% - 238px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 530px;
  height: 121px;
}
.fingerprint-icon {
  position: absolute;
  height: 83.18%;
  width: 75.2%;
  top: 8.44%;
  right: 12.17%;
  bottom: 8.38%;
  left: 12.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fingerprint {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 411px;
  left: calc(50% - 74px);
  width: 209px;
  height: 193px;
}
.to-nhn-vin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 483px;
  height: 31px;
  flex-shrink: 0;
}
.bn-quyn-47k21105,
.to-nhn-vin-mi-wrapper {
  cursor: pointer;
  position: absolute;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.to-nhn-vin-mi-wrapper {
  top: 835px;
  left: calc(50% - 282px);
  border-radius: 15px;
  background-color: var(--light-palette-black);
  width: 619px;
  height: 61px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) 0 var(--padding-2xs) 67px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
}
.bn-quyn-47k21105 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 936px;
  /* left: 683px; */
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 100;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* width: 1092px; */
  height: 28px;
  right: 20px
}
.div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--light-palette-black);
  font-family: var(--font-aldrich);
}
